.footer
	background-color: #333
	padding: 45px 0 20px 
	+r(767)
		padding: 30px 0 20px 
	h4
		color: #fff
		padding: 0 27px 0 0
		position: relative
		display: inline-block
		margin: 15px 0 0 
		+r(767)
			cursor: pointer
		i
			position: absolute
			top: 50%
			right: 0
			margin-top: -5px
			font-size: 0.9rem
			display: none
			+r(767)
				display: block
	a
		color: #fff
	&__list
		+ul
		margin-top: 19px
		+r(767)
			display: none
		&.is-active
			display: block
		li
			font-size: 1.5rem
			margin-bottom: 11px
			a
				&:hover
					text-decoration: underline
	&__bottom
		padding: 25px 0 0
		+clr
	&__copy, &__rfs, &__social
		float: left
	&__copy, &__rfs
		color: #fff
		font-size: 1.5rem
		line-height: 1
		+light
		position: relative
		padding: 10px 0 
		&:before
			content: "" 
			position: absolute
			top: 50%
			left: 0
	&__copy
		padding-left: 30px
		margin-right: 30px
		+r(1219)
			margin-bottom: 15px
		+r(767)
			width: 100%
			text-align: left
			margin-bottom: 25px
		&:before
			+s(footer-logo)
			margin-top: -16px
	&__rfs
		padding-left: 40px
		margin-right: 120px
		+r(1219)
			float: right
			margin: 0 0 15px
		+r(767)
			width: 100%
			text-align: left
			margin-bottom: 25px
		&:before
			+s(footer-rfs)
			margin-top: -19px
	&__social
		+ul
		margin-right: 30px
		padding: 7px 0 0 
		+r(1219)
			clear: both
		+r(767)
			float: none
			margin-bottom: 40px
		li
			display: inline-block
			vertical-align: middle
			a
				color: #cbc7be
				transition: color 0.25s
				margin-right: 15px
				&:hover, &:visited, &:focus, &:active
					text-decoration: none
					color: #cbc7be				
				&:hover
					color: lighten(#cbc7be, 10%) 
				&.icon-twitter
					font-size: 1.9rem
				&.icon-facebook
					font-size: 1.8rem
				&.icon-google
					font-size: 1.9rem
				&.icon-youtube
					font-size: 2rem
				&.icon-photos
					font-size: 1.9rem
	&-search
		float: right
		width: 250px
		+r(767)
			float: none
		&__label
			color: white
			font-size: 2rem
			line-height: 1
			+bold
			float: left
			padding: 5px 20px 0 0
.mini-form
	overflow: hidden
	position: relative

	.btn-submit
		position: absolute
		top: 3px
		right: 3px
		padding: 7px 12px 6px 
		border-radius: 7px
	&__input
		border: 2px solid #343434
		color: #fff			
		border-radius: 10px
		height: 33px
		+light
		font-size: 1.4rem
		padding: 0 13px 
		width: 100%
		display: block 
		background: none
	&_white
		.mini-form__input
			border-color: #fff
			background: none