.main
	margin: 0 0 -394px
	min-height: 100%
	+r(1219)
		margin: 0
		min-height: 1px 
	&:after
		display: block
		height: 394px
		content: ""
		+r(1219)
			display: none
	&__inner
		overflow: hidden
		position: relative
		&.index-page
			+g(#3375cc, #71aad5)
.content
	padding: 30px 0	
	
.top-banner
	display: block
	color: #fff
	position: relative
	font-size: 0
	&_main
		padding: 14px 0 16px
		.top-banner
			&__img
				box-shadow: inset 0 0 90px rgba(58, 225, 255, 0.75), 0 0 90px rgba(58, 225, 255, 0.75)
				border-radius: 50px
				&:before
					content: "" 
					border-radius: 50px
					position: absolute
					left: 0
					right: 0
					top: 10%
					bottom: 10%
					box-shadow: inset 0 0 90px rgba(58, 225, 255, 0.75), 0 0 90px rgba(58, 225, 255, 0.75)
	&_team
		padding: 9px 0 30px 
		.top-banner
			&__img
				margin: 0 17px 0 0 
				img
					max-width: 168px
			&__box
				padding: 20px 0 0 
		h3
			+litalic
			color: #FFF 
			display: inline
			line-height: 1.1
			+r(991)
				display: block
			b
				+bitalic
		.btn-next
			margin: 0 0 0 20px 
			+r(991)
				margin: 0
	&__img
		float: right
		position: relative
		+r(991)
			float: left		
			display: none
		img
			position: relative
			max-width: 100%
	&__info
		overflow: hidden
		position: relative
		padding: 6px 0 5px 
	&__title
		+thin
		font-size: 2.5rem
		line-height: 1.2
		+r(991)
			font-size: 2rem
		b
			+bold
			display: block
	&__text
		+light
		font-size: 1.6rem
		display: inline-block
		vertical-align: top
		padding: 3px 20px 4px 0
		+r(991)
			font-size: 1.4rem
			display: block
			margin-bottom: 10px
.banner
	position: relative
	border-radius: 10px
	overflow: hidden
	margin-bottom: 20px
	&__img
		display: block
		font-size: 0
		img
			width: 100%
	&__info
		position: absolute
		bottom: 0
		left: 0
		right: 0
		background: rgba(black, 0.7)
		padding: 13px 20px 14px
	&__title, &__text	
		color: white
	&__title
		font-size: 1.8rem
		line-height: 1.2
		+bold
		a
			+white-link
			display: block
			&:hover
				text-decoration: underline
	&__text
		display: block
		font-size: 1.5rem
		line-height: 1.2
		+white-link
		margin: 5px 0 10px
		&:hover
			text-decoration: underline
	time
		display: inline-block
		vertical-align: top
		color: #fffefe
		font-size: 1.2rem
		padding: 6px 10px 7px 0
		
.scoreboard
	border-radius: 10px
	background: url(../img/scoreboard.png) no-repeat #f93526
	+cover
	margin-bottom: 20px
	&__section
		&.is-active
			.scoreboard__head
				background: none
				padding: 14px 20px 0
				+r(767)
					padding-left: 10px
					padding-right: 10px
			.scoreboard__title
				font-size: 2rem
				i
					display: none
			.button-white
				display: block
		.button-white
			float: right
			display: none
	&__head
		padding: 6px 20px
		background-color: rgba(#001616, 0.7)
		+r(767)
			padding-left: 10px
			padding-right: 10px
		&.is-last
			border-radius: 0 0 10px 10px
		&.is-first
			border-radius: 10px 10px 0 0
	&__title
		font-size: 1.5rem
		+bold
		text-transform: uppercase
		color: #fff 
		cursor: pointer
		overflow: hidden
		&:hover
			span
				text-decoration: underline
		i
			font-size: 0.9rem
			vertical-align: top
			padding: 6px 0 0 10px 
		span
			padding: 1px 0 0 
			display: inline-block
			vertical-align: top
	&__body
		display: none
	&__filter
		padding: 3px 20px 6px
		+clr
		+r(767)
			padding-left: 10px
			padding-right: 10px
	&__box
		float: left
		position: relative
		&.is-pro
			width: 41%
			padding: 0 10px 10px 0
			+r(1219)
				width: auto
				padding-right: 20px
			+r(767)
				width: 100%
		&.is-super
			width: 33%
			padding: 0 10px 10px 23px
			+r(1219)
				width: auto
				padding-right: 20px
			+r(767)
				width: 70%
			i
				position: absolute
				top: 0
				left: 0
			
	&__leagues
		width: 26%
		float: right
		margin: 2px 0 0 
		+r(1219)
			float: left
			width: auto
		+r(767)
			width: 30%
			float: right
		img
			max-width: 100%
.scoreboard-table
	width: 100%
	border-radius: 0 0 10px 10px
	overflow: hidden
	td
		&.is-name
			width: 46%
			padding: 2px 0 0 20px 
			+r(767)
				padding: 2px 0 0 10px 
		&.is-game
			width: 13%
			padding: 2px 0 0 10px
		&.is-match
			width: 24%
			padding: 2px 0 0 10px
		&.is-point
			width: 17%
			padding: 2px 0 0 10px
	th
		&.is-name
			width: 46%
			padding: 0 0 0 20px 
		&.is-game
			width: 13%
			padding: 0 0 0 10px
		&.is-match
			width: 24%
			padding: 0 0 0 10px
		&.is-point
			width: 17%
			padding: 0 0 0 10px
	thead
		th
			color: #080808
			+bold
			font-size: 1.3rem
			line-height: 1
	tbody
		tr
			&:nth-child(even)
				background: rgba(white, 0.2) 
		td
			color: white
			font-size: 1.4rem
			line-height: 1.5
			+bold

.block
	background-color: white
	border-radius: 10px
	padding: 20px 
	margin-bottom: 20px
	font-size: 0
	&_dark
		background: #333 
	&__top
		+clr
		margin-bottom: 20px
		&-mod
			+r(767)
				margin-bottom: 0
	.text-tabs
		float: left
	.button-blue
		float: right
		margin-top: 6px
		+r(1219)
			margin-top: 0
		+r(767)
			display: none
	&__body
		+clr
	&__section
		margin: 0 -15px
		+clr
		position: relative
	&__body, &__events
		position: absolute
		top: 0
		left: 0
		right: 0
		opacity: 0
		visibility: hidden
		width: 100%
		+wo
		transition: opacity 0.25s, visibility 0.25s
		&.is-active
			opacity: 1
			visibility: visible
			position: relative
		&.is-table
			+r(1219)
				display: block
				width: 50%
				float: left
				position: relative
				visibility: visible
				opacity: 1
			+r(767)
				display: none
				width: 100%
		&.is-active
			+r(767)
				display: block
	&__events
		padding: 0 15px 
	&__box
		width: 25%
		display: inline-block
		vertical-align: top
		padding: 0 15px 15px
		+r(767)
			width: 100%
		&.is-md
			width: 33.33%
			+r(767)
				width: 100% 
			.news-item
				&__img
					margin-bottom: 15px
					border-radius: 10px
					overflow: hidden
	&__footer
		padding: 6px 0 0
		text-align: right 
		clear: both
		&_mod
			padding: 6px 15px 0 
	&__headers
		+clr
		margin: 0 -15px 
		display: none
		+r(1219)
			display: block
		+r(767)
			display: none
	&__title
		width: 50%
		float: left
		color: #fff
		font-size: 4.1rem
		+bold
		padding: 1px 15px
		text-transform: uppercase
		+r(991)
			font-size: 3rem
		+r(767)
			font-size: 2rem 
		
.main-slider
	+clr
	&_video
		margin-bottom: 10px
		+r(1007)
			margin-bottom: 20px
	&_photo
		+r(991)
			margin-bottom: 20px
	.slick-dots
		+ul
		position: relative
		li
			padding: 0 3px 
			&.slick-active
				button
					opacity: 1
					background: #999999
		button
			width: 13px
			height: 13px
			background: #d7d7d7
			transition: background 0.25s
			&:hover
				background: darken(#d7d7d7, 10%)
			
.text-tabs
	font-size: 0
	&.table-none
		+r(1219)
			display: none
		+r(767)
			display: block
	div
		display: inline-block
		vertical-align: top
		&:first-child
			&:before
				display: none
		&:before
			content: "/"
			display: inline-block
			vertical-align: top
			color: #333
			font-size: 4.1rem
			+bold
			line-height: 1
			margin: 0 10px 
			+r(1219)
				font-size: 3rem
			+r(767)
				font-size: 2rem
				margin: 0 5px 
		a
			font-size: 25px
			color: #197fba
			display: inline-block
			vertical-align: top
			line-height: 1
			position: relative
			padding: 12px 0 0 
			+tdn
			+r(1219)
				padding: 4px 0 0 
			+r(767)
				font-size: 1.4rem
				padding: 6px 0 0 
			&:before
				content: "" 
				position: absolute
				bottom: 1px
				left: 0
				right: 0
				border-bottom: 1px dotted #197fba
			&.is-active
				color: #333
				font-size: 4.1rem
				+bold
				padding: 1px 0
				text-transform: uppercase
				+r(1219)
					font-size: 3rem
				+r(767)
					font-size: 2rem
					padding: 1px 0	
				&:before
					display: none
	&_white
		div
			&:before
				color: #fff 
			a
				color: #fff
				&:before
					border-color: #fff 
				&.is-active
					color: #fff 
					
.news-item
	font-size: 0
	&__img
		display: block
		position: relative
		margin-bottom: 7px
		img
			width: 100%
	&__sticker
		position: absolute
		bottom: 0
		left: 0
		font-size: 1rem
		+bold
		color: #fff
		line-height: 15px
		padding: 2px 10px 0 5px
		border-radius: 0 10px 0 0
		background: rgba(black, 0.6) 
		&.is-exclusive			
			background: rgba(red, 0.6)
		&.is-video, &.is-life
			padding: 2px 10px 0 20px 
		&.is-life
			i
				&:after
					content: "" 
					position: absolute
					top: 50%
					left: 2px
					margin: -2px 0 0 0
					width: 4px
					height: 4px
					border-radius: 50%
					background-color: #5bcc00 
		i
			font-size: 0.6rem
			position: absolute
			left: 6px
			top: 6px
	&__info
		time
			font-size: 1.2rem
			color: #555
			display: inline-block
			vertical-align: top
			margin-right: 10px
	&__text
		a
			color: #197fba
			font-size: 1.5rem
			line-height: 1.2
			display: inline-block
			&:hover
				text-decoration: underline

.tag 
	display: inline-block
	vertical-align: top
	font-size: 1.1rem
	color: #010101
	line-height: 1
	padding: 2px 5px 1px
	background-color: #e1e1e1
	border-radius: 7px
	&:hover, &:focus, &:active, &:visited
		color: #010101
	 
.event-item
	&__img
		display: block
		font-size: 0
		margin-bottom: 11px
		img
			width: 100%
	&__text
		margin-bottom: 17px
		height: 73px
		overflow: hidden
	p
		color: #fff
		margin: 0

.heading
	+clr
	font-size: 0
	padding: 25px 0	
	h2, p
		color: #fff 
	h2, p, .btn-next
		display: inline-block
		vertical-align: top
	h2, p
		margin: 0 30px 0 0 
		+r(767)
			display: block
			margin-bottom: 10px
	p
		max-width: 300px
		padding: 2px 0 0 
	.btn-next
		margin: 4px 0 0 35px
		+r(1219)
			margin: 0 0 0 35px
		+r(991)
			margin: -4px 0 0 35px 
		+r(767)
			margin: 0 0 0 
	&_dark
		h2, p
			color: #333 
	&_video
		h2
			+r(767)
				float: left
				margin: 0
				padding: 5px 0 
		.btn-next
			+r(767)
				float: right

.v-item
	padding: 0 0 30px
	&__img
		display: block
		position: relative
		font-size: 0
		img
			width: 100%
			border-radius: 10px
		.btn-play
			position: absolute
			top: 50%
			left: 50%
			margin: -48px 0 0 -48px 
	&__info
		padding: 8px 0 0 
		time
			display: inline-block
			vertical-align: top
			color: #fff
			font-size: 1.5rem
			line-height: 1.2
		.tag
			margin: 2px 0 0 
		p
			color: #fff
			margin: 0 
			
.small-banner
	padding: 0 0 20px
	+r(991)
		// display: none
	a
		display: block
		font-size: 0
		img
			width: 100%
			border-radius: 10px

.in-item
	background: #fff
	border-radius: 10px
	overflow: hidden 
	font-size: 0
	margin: 0 0 20px 
	&__inner
		display: block
		img
			width: 100%
			border-radius: 10px 10px 0 0
	&__name
		color: black
		+reg
		font-size: 1.5rem
		line-height: 2
		padding: 4px 15px 
		
.partners
	background: #fff
	+clr
	border-radius: 10px
	margin-bottom: 20px
	position: relative
	z-index: 15
	font-size: 0
.partner-items
	padding: 10px 0 
.partner-item
	text-align: center
	font-size: 0
	padding: 10px 15px 
	width: 16.66%
	display: inline-block
	vertical-align: top
	+r(991)
		width: 25%
	+r(767)
		width: 50%
	a
		display: block
		img
			width: 100%
			
.big-banner
	margin: -60px 0 -120px 
	text-align: center
	background-repeat: no-repeat
	+cover
	position: relative
	z-index: 10 
	&__inner
		max-width: 1200px
		padding: 165px 10px 158px
		margin: 0 auto 
	&__inner, h3
		color: #fff
	h3
		margin-bottom: 14px
	&__title, &__teams, &__time
		text-transform: uppercase
	&__title
		font-size: 11.3rem
		+thin
		line-height: 0.78
		+r(991)
			font-size: 7rem
		+r(767)
			font-size: 4rem
	&__season
		+reg
		font-size: 3rem
		line-height: 1.15
		margin-bottom: 30px
	&__teams
		+bold
		font-size: 6rem
		line-height: 1
		margin-bottom: 5px
		+r(991)
			font-size: 4rem
		+r(767)
			font-size: 2rem
	&__time
		+light
		font-size: 3rem
		line-height: 1.7
		margin-bottom: 43px
		+r(767)
			font-size: 2rem
		
.champion
	background: #fff
	&__inner
		max-width: 1200px
		margin: 0 auto
		padding: 40px 10px 25px
		position: relative
		z-index: 15 
		text-align: center
		+clr
	&__title
		color: #333
		font-size: 3.7rem
		line-height: 1.08
		+bold
		max-width: 830px
		margin: 0 auto 20px
		+r(991)
			font-size: 3rem
		+r(767)
			font-size: 2rem 
	&__list
		+ul
		text-align: center
		margin-bottom: 30px
		li
			display: inline-block
			vertical-align: top
			padding: 10px 
	&__bottom
		+clr
		float: right
		width: 50%
		padding: 0 10px 
		font-size: 0
		+r(991)
			text-align: center
			width: 100%
		.link-dotted
			margin: 25px 0 0 25px 
			+r(1219)
				margin: 18px 0 0 20px 
			+r(991)
				margin-left: 0
		.btn-next
			margin: 22px 0 0 0
			+r(1219)
				margin: 13px 0 0 0 
	&__left
		float: left
	&__big-btn
		margin-left: -140px
		+r(1219)
			margin-left: -115px
		+r(991)
			margin: 0
	&__right
		float: right
	&__left, &__right
		+r(991)
			display: block
			float: none 

.champ-item
	width: 157px
	height: 157px
	padding: 10px 
	+r(991)
		width: 150px
		height: 150px
	+r(767)
		width: 95px
		height: 95px  
	a
		border: 3px solid transparent
		border-radius: 10px
		display: block
		width: 100%
		height: 100%
		+vertical
		background: #fff
		transition: border-color 0.25s
		&:hover, &.is-active
			border-color: #197fba 
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
			max-height: 100% 
			+r(767)
				max-width: 80%
				max-height: 80%  
			

	
.row_banners
	position: relative	

.side-banner
	position: absolute
	top: 0
	+white-link
	&.is-right
		left: 100%
		text-align: left
	&.is-left
		right: 100%
		text-align: right
	&_two
		img
			margin-left: -55px
		.side-banner
			&__text
				margin: 0 0 -43px 
	&_min
		width: 220px
		.side-banner
			&__text
				margin: 0 0 10px
			&__img
				position: absolute
				top: 10px
				right: -133px
	&__text, &__title
		font-size: 2.8rem
		line-height: 0.87
		z-index: 2
		position: relative
	&__text
		+litalic
	&__title
		+bold


//academy
.academy-page
	+g(#ffed39, #f2ba2f)
	padding: 20px 0 
	.page-nav
		li
			+r(767)
				display: block
				a
					display: inline-block
			&.is-active 
				a
					background-color: #f1cb22
					
.text
	h4, p
		color: black 
	p
		+reg
	h4
		text-transform: none

.info
	background-color: white
	border-radius: 10px
	padding: 21px 10px 21px 15px 
	margin-bottom: 26px
	position: relative
	&.is-left
		&:before
			left: 100%
			margin: 0 0 0 20px 
	&.is-right
		&:before
			right: 100%
			margin: 0 20px 0 0 
	&:before
		position: absolute
		top: 0
		bottom: 0
		background-color: white
		border-radius: 10px
		content: "" 
		width: 100%
		z-index: 1
		+r(991)
			display: none
	&__inner
		position: relative
		z-index: 2
	h5
		font-size: 1.8rem
		+bold
		line-height: 1
		color: #333 
		margin-bottom: 3px
		&.contact-info__last
			font-size: 20px
	p, li
		font-size: 1.4rem
		line-height: 1.3
	p
		padding: 4px 0 2px
	li
		padding: 4px 0 2px 8px 

.contact-info
	+clr
	p
		margin-bottom: 0
		font-size: 1.5rem
	&__title
		padding-bottom: 15px
	.user-info
		width: 50%
		float: left
		padding: 0 21px 0 0 
		+r(767)
			width: 100%
	&__text
		margin-bottom: 20px
		
.user-info
	+clr
	&__img
		width: 64px
		height: 64px
		float: left
		margin: 0 10px 10px 0 
		img
			width: 100%
			height: 100%
			border-radius: 10px
	p
		overflow: hidden
		clear: none

.request
	max-width: 280px
	margin: 0 auto 20px 
	position: relative
	&__btn
		color: white
		font-size: 1.8rem
		line-height: 1
		+bold
		background-color: #197fba
		border-radius: 10px
		text-align: center
		width: 100%
		padding: 9px 10px 
		i
			font-size: 9px
			vertical-align: top
			margin: 5px 0 0 12px 
	&__dropdown
		position: absolute
		top: 100%
		left: 0
		right: 0
		background: #333
		border-radius: 10px
		z-index: 200 
		+ul
		padding: 15px 0 
		margin: 10px 0
		display: none 
		a
			display: block
			color: #fff
			font-size: 1.5rem
			+light
			padding: 5px 15px 
			&:hover
				text-decoration: underline

.academy-side
	padding: 17px 20px 15px 20px 
	background-color: white
	border-radius: 10px
	margin-bottom: 20px
	.button-blue, .btn-next_blue
		float: right
		margin: 4px 0 10px 10px
		+r(1219)
			margin: 0 0 10px 10px  
	h4
		overflow: hidden
		line-height: 1
		margin-bottom: 10px
	&__bottom
		border-top: 1px solid rgba(black, 0.5)
		margin: 10px 0 0
		padding: 30px 0 15px
		h4
			margin-bottom: 20px
	.mini-form
		max-width: 300px

.seminar
	padding: 10px 0 0 
	font-size: 1.5rem
	line-height: 1.2
	+bold
	clear: both
	a
		color: #333 
		&:hover
			text-decoration: underline
	b
		color: #197fba

.academy-news
	+clr
	padding: 10px 0 
	clear: both
	&__img
		float: left
		width: 79px
		margin: 0 10px 0 0 
		img
			width: 100%
	&__text
		overflow: hidden
		line-height: 1
		font-size: 1.5rem
		+bold
		time
			color: #197fba
		a
			color: #333 
			+tdn
			&:hover
				span
					text-decoration: underline

.page-title_academy
	overflow: hidden
	position: relative
	&:before
		content: ""
		position: absolute
		right: -90px
		top: 0
		+s(academy-title)
		+r(991)
			display: none
	h1, .page-nav
		position: relative

//team-page
.team-page
	background: #5d9cc4 
	position: relative
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgb(93,156,196) 90%, rgb(93,156,196) 100%)
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(90%, rgb(93,156,196)), color-stop(100%, rgb(93,156,196)))
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgb(93,156,196) 90%, rgb(93,156,196) 100%)
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgb(93,156,196) 90%, rgb(93,156,196) 100%)
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgb(93,156,196) 90%, rgb(93,156,196) 100%)
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgb(93,156,196) 90%, rgb(93,156,196) 100%)
	
.page-box
	padding: 20px 20px 10px 5px
	border-radius: 10px
	background: #fff 
	+clr
	margin-bottom: 20px
	&__logo
		text-align: center
		width: 180px
		position: absolute
		top: 20px
		left: 5px
		margin: 0 20px 20px 0
		font-size: 0
		&:hover
			span
				text-decoration: underline
		+r(767)
			display: block
			position: static
		img
			width: 115px
			margin: 0 0 10px 
		span
			color: #197fba
			font-size: 15px
			line-height: 1
			text-decoration: none
	&__info
		padding: 0 0 10px 180px 
		font-size: 0
		+r(767)
			padding: 0 10px 
		ul
			+ul
			font-size: 1.5rem
			line-height: 1.6
			margin: 0 10px 0 0 
			+r(1219)
				width: 100%
				margin-bottom: 10px
			span
				width: 150px
				float: left
				+med
				+r(767)
					width: 100%
			a
				color: #197fba
				&:hover
					color: #197fba
					text-decoration: underline
				&:visited
					color: #605ca8
	h1
		margin-bottom: 5px
	&__info ul, &__shirt, &__photo
		display: inline-block
		vertical-align: middle
	&__shirt
		width: 190px
		margin: 0 18px 0 0 
		+r(767)
			max-width: 48%
			margin: 0 2% 0 0
	&__photo
		width: 147px
		+r(767)
			max-width: 48%
	&__btns
		float: right
		width: 170px
		padding: 25px 0 0 
		+r(991)
			width: 100%
			padding: 20px 0  
		+r(767)
			padding: 20px 0 10px 
		.btn-mail, .btn-attr
			margin: 0 0 5px 
			+r(991)
				margin: 0 0 10px
			+r(767)
				margin: 0 0 10px 
	.page-nav
		clear: both
		li
			+r(767)
				display: block
				a
					display: inline-block
.box
	border-radius: 10px
	background: #fff
	padding: 20px 
	margin-bottom: 20px
	&__video
		+clr
		margin: 0 -10px 
	&__container
		+clr
		margin: 0 -10px 
		display: none
		&.is-active
			display: block
			+r(767)
				display: none
			&.is-mobile
				+r(767)
					display: block
		&-players
			.box__col
				padding: 20px 10px 
	&__col
		float: left
		width: 33.33%
		padding: 10px 
		+r(991)
			width: 50%
		+r(767)
			width: 100%
	&__top
		+clr
		h2
			float: left
			margin: 0 0 5px 
			+r(767)
				float: none
		.select
			float: right
			margin: 12px 0 0 10px 
			+r(767)
				float: none
				margin: 10px 0
		.btn-next
			float: right
			margin: 5px 0 0 10px 
			+r(767)
				float: none
				margin: 10px 0
	.user-box
		padding: 10px 0 
	.tabs__list
		margin: 0 0 0 -10px 
		li
			padding: 0 10px 
		&-team
			li
				padding: 0 15px 

.user-box
	+clr
	&__img
		float: left
		width: 115px
		margin: 0 8px 0 0
		font-size: 0
		img
			width: 100%
	&__info
		overflow: hidden
		p
			+reg
			line-height: 1.1
			margin-bottom: 14px
			a
				+bold
		ul
			+ul
			+reg
			line-height: 1.2
			font-size: 15px
	&__number
		font-size: 0
		margin-bottom: 9px
		+clr
		img
			margin: 0 10px 0 0 
			width: 24px
			height: 24px
			border-radius: 50%
			float: left
		span
			+bold
			color: #333
			font-size: 2rem
			line-height: 1
			overflow: hidden
			padding: 3px 0 0
			display: block

.media-item
	padding: 10px 0 
	&__img
		display: block
		position: relative
		font-size: 0
		img
			width: 100%
		.btn-play
			position: absolute
			top: 50%
			left: 50%
			margin: -48px 0 0 -48px 
	&__info
		padding: 8px 0 0 
		.tag
			margin: 2px 0 0 
		p
			color: #000
			margin: 0 

.side-contacts
	padding: 20px
	background: #fff
	border-radius: 10px 
	margin-bottom: 20px
	div
		padding: 0 0 10px 
	p
		line-height: 1.2
		margin: 0
		a
			color: #197fba
			&:hover
				text-decoration: underline

.side-statistic
	background-color: #333
	border-radius: 10px
	padding: 20px
	margin-bottom: 20px 
	h2, &__list
		color: #fff
	.select
		margin-bottom: 20px
	&__list
		+ul
		color: white
		font-size: 1.4rem
		line-height: 1.3
		+bold
		margin-bottom: 20px
		li
			+clr
			margin-bottom: 7px
		span
			width: 170px
			padding: 8px 10px 6px 0
			float: left 
			overflow: hidden
			-ms-text-overflow: ellipsis
			text-overflow: ellipsis
			white-space: nowrap
		b
			font-size: 2.5rem
		strong
			font-size: 1.4rem
			padding: 8px 0 6px
		b, strong
			overflow: hidden
			display: block
			-ms-text-overflow: ellipsis
			text-overflow: ellipsis
			white-space: nowrap
	&__btn
		text-align: right
		.btn-next
			background: none
			&:hover
				background: #fff 
	&__result
		span
			font-size: 1.6rem
			padding: 7px 10px 5px 0
			

.side-progress
	padding: 20px
	margin: 0 0 20px
	background-color: white
	border-radius: 10px
	h4
		margin-bottom: 3px
	&__item
		+clr
		padding: 16px 0 13px 
	&__img
		float: left
		width: 79px
		margin: 0 10px 0 0
		font-size: 0 
		img
			width: 100%
	&__text
		overflow: hidden
		p
			margin: 0
			line-height: 1.1
	&__btns
		text-align: right

.side-academy
	text-align: center
	font-size: 0
	border-radius: 10px
	margin-bottom: 20px
	position: relative
	img
		width: 100%
		border-radius: 10px
	ul
		position: absolute
		left: 0
		right: 0
		bottom: 10%
		+ul
		li
			display: inline-block
			vertical-align: top
			font-size: 1.5rem
			line-height: 1.3 
			+bold
			color: #555
			&:last-child
				&:after
					display: none
			&:after
				content: "/"
				margin: 0 4px
			a
				color: #555
				&:hover
					text-decoration: underline
	&_large
		ul
			bottom: 4%
					
.link-pdf
	position: relative
	display: inline-block
	vertical-align: top
	width: 190px
	padding: 5px 0 0 34px 
	margin: 0 0 27px 20px
	&:hover
		span
			text-decoration: underline
	i
		font-size: 3.2rem
		position: absolute
		top: 50%
		left: 0
		margin-top: -16px
		color: #1f88d2
	span
		color: #197fba
		font-size: 1.4rem
		+bold
		line-height: 1		

//museum
.museum-page
	background: #020d1a 
	padding: 20px 0 0 

.museum
	&-filter
		+clr
		padding: 25px 0 0 
		position: relative
		z-index: 300
		+r(991)
			padding: 25px 0 30px 
		&__title, &__label
			+bold
		&__title
			color: white
			font-size: 3.9rem
			line-height: 1
			text-transform: uppercase
			margin-bottom: 30px
			+r(767)
				text-align: center
		&__label
			color: #fefefe
			font-size: 2rem
			line-height: 1.5
			text-transform: uppercase
			float: left
			padding: 0 30px 0 0 
			+r(991)
				display: block
				float: none
			+r(767)
				text-align: center
		&__list
			+ul
			float: left
			+r(767)
				display: none
			li
				display: inline-block
				vertical-align: top
				padding: 6px 15px 0
				+r(991)
					padding: 6px 30px 0 0 
	&-link
		font-size: 1.7rem
		line-height: 1.1
		+tdn
		display: inline-block
		vertical-align: top
		position: relative
		+r(767)
			display: none
		&:hover, &:focus, &.is-active
			span
				border-color: transparent
				color: #fff 
			i
				color: #fff 
		span
			border-bottom: 1px dotted #54c39e
			display: block
			color: #54c39e
			transition: color 0.25s, border-color 0.25s
		&_show
			margin: 6px 0 0
			float: right
			padding: 0 0 0 16px 
			&.is-active
				.is-visible
					display: none
				.is-hidden
					display: block
			.icon-show
				position: absolute
				top: 3px
				left: 0
				font-size: 11px
				color: #54c39e 
				transition: color 0.25s
			.is-visible
				display: block
			.is-hidden
				display: none
	&-seasons
		position: relative
		// padding: 30px 0 23px 
		+clr
		z-index: 5
		max-width: 1200px
		margin: 0 auto 
		+r(767)
			visibility: hidden
			opacity: 0
			position: absolute
			top: 0
			left: 0
		&:before
			content: "" 
			position: absolute
			bottom: 20px
			left: 0
			right: 0
			height: 4px
			background: url(../img/season-line.png) no-repeat center center
			-webkit-background-size: contain 
			-o-background-size: contain 
			background-size: contain 
		&-wrap
			position: relative
			overflow: hidden
			max-width: 1200px
			margin: 0 auto 
			&:before, &:after
				content: "" 
				position: absolute
				top: 0
				bottom: 0
				box-shadow: 0px 0px 60px 90px rgba(2, 13, 26, 0.8)
				z-index: 20
				width: 20px
			&:before
				left: -20px
			&:after
				right: -20px
	&-season
		float: left
		text-align: center
		position: relative
		padding: 70px 0 43px
		cursor: pointer
		z-index: 5
		width: 100%
		&.slick-current
			// padding: 35px 0 20px
			z-index: 4
			&:before
				visibility: visible
				opacity: 1
			small
				opacity: 1
				visibility: visible
			span
				font-size: 3.3rem
				+bold
				color: #fff 
				border: none
				+r(991)
					font-size: 2.2rem
		&:before, &:after
			content: ""
			position: absolute
			left: 50%
		&:before
			background: url(../img/season-bg.png) no-repeat
			+cover
			width: 209px 
			height: 190px
			bottom: 38px
			visibility: hidden
			opacity: 0
			margin-left: -105px
		&:after
			bottom: 26px
			margin-left: -1px
			width: 1px
			height: 11px
			background-color: #b7b7b7
		small, span
			position: relative
			z-index: 2
		small
			position: absolute
			top: 30px
			left: 0
			right: 0
			color: white
			font-size: 2rem
			+bold
			visibility: hidden
			opacity: 0
			+wo
			transition: opacity 0.2s, visibility 0.2s
			+r(991)
				font-size: 1.8rem
		span
			display: inline-block
			color: #378876
			font-size: 2rem
			line-height: 2rem
			transition: color 0.2s	
			border-bottom: 1px dotted #378876
			+r(991)
				font-size: 1.8rem
	&-container
		max-width: 1620px
		padding: 0 10px 
		margin: 0 auto
		position: relative
		// +r(1400)
		// 	max-width: 1200px
		// +r(991)
		// 	max-width: 700px
		// +r(767)
		// 	max-width: 400px
		// &:before
		// 	content: "" 
		// 	position: absolute
		// 	top: 114px
		// 	left: 0
		// 	right: 0
		// 	height: 4px
		// 	background: url(../img/season-line.png) no-repeat center center
		// 	-webkit-background-size: contain 
		// 	-o-background-size: contain 
		// 	background-size: contain 
		// 	+r(767)
		// 		display: none
		.mCSB_scrollTools.mCSB_scrollTools_horizontal
			bottom: 20px
	&-row
		+clr
		position: absolute
		top: 0
		left: 10px
		right: 10%
		visibility: hidden
		opacity: 0
		white-space: nowrap
		font-size: 0
		+r(1400)
			margin: 0
		+r(767)
			visibility: visible
			opacity: 1
			position: static
		&.is-active
			position: static
			opacity: 1
			visibility: visible
	&-slide
		padding: 0 0 26px 
		+clr
		// max-width: 1620px
		display: inline-block
		vertical-align: top
		width: 1620px
		// +r(1400)
		// 	max-width: 1200px
		// +r(991)
		// 	max-width: 700px 
		+r(767)
			width: 820px 
			padding: 0 0 60px 
	&-photo
		padding: 28px 20px 0 0
		font-size: 0
		width: 37.5%
		position: relative
		float: left
		// +r(1400)
		// 	width: 50%
		// +r(1100)
		// 	display: none
		white-space: normal
		+r(767)
			display: none
		img
			width: 100%
		&__text
			position: absolute
			bottom: 0
			left: 0
			right: 20px
			background: rgba(black, 0.8)
			padding: 15px 30px 20px
		time, span, p
			color: #fff
		p
			margin: 0
			max-width: 500px
			padding: 3px 0 0 
		span
			+bold
			font-size: 1.8rem
		time
			font-size: 1.5rem
			padding: 0 4px 0 0 
	&-cups-section
		display: inline-block
		vertical-align: top
		width: 1013px
		+r(767)
			width: 820px 
		.museum-cups
			&__small
				width: 42%
				+r(767)
					width: 36%
			&__big
				width: 58%
				+r(767)
					width: 64%
	&-cups
		&__small
			float: left
			width: 21%
			// +r(1400)
			// 	width: 100%
			// 	clear: both
			// +r(1100)
			// 	clear: none
			// 	width: 36%
			// +r(991)
			// 	width: 100%
			+r(767)
				width: 36%
			.museum-cup
				&_small
					// +r(1400)
					// 	width: 25%
					// +r(1100)
					// 	width: 50%
					// +r(991)
					// 	width: 25%
					+r(767)
						width: 50%
		&__big
			float: right
			width: 41.5%
			// +r(1400)
			// 	width: 50%
			// +r(1100)
			// 	width: 64%
			// +r(991)
			// 	width: 100%
			// +r(767)
			// 	display: none
			+r(767)
				width: 64%
	&-cup
		text-align: center
		position: relative
		font-size: 0
		float: left
		transition: opacity 0.25s
		cursor: pointer
		&:hover
			&:after
				visibility: visible
				opacity: 1
			&:before
				visibility: hidden
				opacity: 0
		&.is-disabled
			opacity: 0.3
			cursor: default
			&:hover
				&:before
					visibility: visible
					opacity: 1
			&:after
				display: none
		&:before, &:after
			content: ""
			position: absolute
			background-repeat: no-repeat
			background-position: bottom center 
			left: 50%
			transition: opacity 0.25s, visibility 0.25s
		&:before
			z-index: 1
		&:after
			visibility: hidden
			opacity: 0
			z-index: 2
		&_small
			width: 50%
			height: 160px
			&:before, &:after
				bottom: -32px
				height: 257px
				width: 170px
				margin-left: -85px
			&:before
				background-image: url(../img/cup-smallbg1.png)
			&:after
				background-image: url(../img/cup-smallbg2.png)
			.museum-cup__img
				bottom: 18px
		&__inner
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			z-index: 3
		&__img
			position: absolute
			left: 0
			right: 0
			padding: 0 0 0 7px 
			top: 0
			+vertical			
			img
				max-width: 100%
				max-height: 100% 
				display: inline-block
				vertical-align: bottom
		&_big
			width: 50%
			height: 320px
			&:before, &:after
				bottom: -70px
			&:before
				background-image: url(../img/cup-bigbg1.png)
				height: 435px
				width: 295px
				margin-left: -146px
			&:after
				background-image: url(../img/cup-bigbg2.png)
				height: 438px
				width: 363px
				margin-left: -171px
				bottom: -73px
			.museum-cup__img
				bottom: 20px
	&-bottom
		clear: both
		&__btn
			+r(1219)
				display: none
			&.is-hidden
				display: none
	&-text
		+clr
		max-width: 1200px
		margin: 0 auto 
		padding: 60px 0 
		&__col
			width: 50%
			padding: 10px
			float: left
			+r(767)
				width: 100%
			p
				color: #fff
	&-all
		text-align: center
		font-size: 0
		clear: both
		max-width: 1200px
		padding: 0 10px
		margin: 0 auto  
		position: absolute
		top: 0
		left: 0
		opacity: 0
		visibility: hidden 
		+r(991)
			max-width: 600px
		+r(767)
			max-width: 400px
		&.is-active
			position: static
			opacity: 1
			visibility: visible
			+r(767)
				position: absolute
				opacity: 0
				visibility: hidden
		&__title
			color: white
			font-size: 2rem
			+bold
			position: relative
			z-index: 5 
			padding: 38px 0 0 
		&__row
			padding: 0 0 50px 
			position: relative
			&.is-first
				&:before
					display: none
			&:before
				content: "" 
				position: absolute
				top: 0
				left: 0
				right: 0
				height: 4px
				background: url(../img/season-line.png) no-repeat center center
		&__item
			width: 16.66%
			display: inline-block
			vertical-align: top
			+clr
			position: relative
			+r(1100)
				width: 25%
			+r(991)
				width: 33.33%
			+r(767)
				width: 50%
			&:hover
				.museum-cup_small
					&:after
						visibility: visible
						opacity: 1
					&:before
						visibility: hidden
						opacity: 0
			.museum-cup_small
				width: 100%		
		&__text
			clear: both
			font-size: 1.1rem
			line-height: 1
			+reg
			color: #fff 
			width: 135px
			text-align: left
			margin: 0 auto 
			padding: 10px 0 0 5px 
			position: relative
			z-index: 4
	&-popup
		position: fixed
		top: 0
		bottom: 0
		left: 0
		right: 0
		+vertical
		overflow: auto
		background: rgba(#020d1a, 0.9)
		z-index: 3000 
		padding: 10px
		visibility: hidden
		opacity: 0
		transition: opacity 0.25s, visibility 0.25s
		&.is-active
			opacity: 1
			visibility: visible
		&__inner
			display: inline-block
			vertical-align: middle
			max-width: 780px
			width: 100%
			background-color: black
			border-radius: 10px
			box-shadow: 0 0 73px rgba(82, 229, 255, 0.28)
			position: relative
		.icon-close, .icon-arr-left, .icon-arr-right
			cursor: pointer
			z-index: 20
			color: #fff
		.icon-arr-left, .icon-arr-right
			font-size: 21px
			top: 264px
			position: absolute
		.icon-arr-left 
			left: 42px
			+r(767)
				left: 10px
		.icon-arr-right
			right: 26px
			+r(767)
				right: 10px
		.icon-close
			font-size: 21px
			position: absolute
			top: 23px
			right: 18px
			+r(767)
				top: 10px
				right: 10px
				font-size: 14px
	&-gallery
		padding: 0 80px 
		text-align: left
		+r(767)
			padding: 0 30px 
		&__cup
			position: relative
			width: 33.33%			
			height: 325px
			padding: 0 10px 
			float: left
			+r(767)
				display: none
			&:before
				content: ""
				position: absolute
				background-repeat: no-repeat
				background-position: bottom center 
				bottom: -65px
				left: 50%
				margin-left: -132px
				width: 264px
				height: 341px
				background-image: url(../img/cup-medbg1.png)
			&-inner
				position: absolute
				top: 0
				bottom: 0
				left: 0
				right: 0
				z-index: 3
			&-img
				position: absolute
				left: 0
				right: 0
				padding: 0 0 0 7px 
				top: 0
				bottom: 0
				+vertical			
				img
					max-width: 100%
					max-height: 100% 
					display: inline-block
					vertical-align: bottom
		&__slide
			padding: 0 10px 48px
			+clr
			+r(767)
				padding: 0 0 20px 
		&__info
			width: 66.67%
			float: left
			padding: 65px 10px 0 
			+r(767)
				width: 100%
				float: none
				padding: 20px 5px 0 
		&__title
			color: white
			+med
			font-size: 2.7rem
			line-height: 1
			margin-bottom: 25px
			+r(767)
				font-size: 2rem 
		&__logo
			float: left
			margin: 0 20px 0 0 
			width: 87px
			font-size: 0
			+r(767)
				width: 60px
			img
				width: 100%
		&__team
			overflow: hidden
			padding-bottom: 15px
			&-in
				overflow: hidden
				span, a
					font-size: 1.3rem
					line-height: 1
				span
					display: block
					color: #fff
					padding: 5px 0 
				a
					color: #197fba
					&:hover
						text-decoration: underline
		p
			color: #fff
			line-height: 1.5
			font-size: 1.6rem
			margin-bottom: 30px
			+r(767)
				font-size: 1.4rem 
				line-height: 1.3
		&__img
			background: black
			border-radius: 10px
			max-width: 100% 
			margin: 0 auto 
	&__select
		display: none
		clear: both
		&.is-filter
			padding: 19px 0 0 
			+r(767)
				display: block
		&.is-season
			padding: 19px 0 30px
			+r(767)
				display: block
		&.is-hidden
			display: none
			+r(1100)
				display: none
			+r(767)
				display: none
	&-select
		position: relative
		cursor: pointer
		font-size: 1.4rem
		max-width: 300px
		user-select: none
		clear: both
		+r(767)
			margin: 0 auto 
		&.is-active
			.museum-select
				&__text
					border-radius: 10px 10px 0 0
					&:after
						+rotate(-180)
				&__list
					border-radius: 0 0 10px 10px
		&__text
			position: relative
			display: block
			padding: 6px 30px 5px 13px
			line-height: 1
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
			height: 29px
			border: 2px solid #fff
			border-radius: 10px
			+bold	
			color: #fff
			&:after
				content: "\EA01" 
				position: absolute
				top: 9px
				right: 8px
				font-size: 0.9rem
				color: #fff 
				z-index: 10 
				font-family: "svgfont"
				font-style: normal
				font-weight: normal
				text-rendering: auto
				speak: none
				line-height: 1
				-webkit-font-smoothing: antialiased
				-moz-osx-font-smoothing: grayscale
		select
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			width: 100%
			height: 100%
			opacity: 0
.page-title_museum
	position: relative
	padding: 20px 100px 20px 20px
	+r(991)
		padding: 20px
	img
		position: absolute
		top: 9px
		right: 21px
		width: 72px
		+r(991)
			display: none

.match
	background-color: #434343
	margin-bottom: 20px
	&__section
		display: none
		&.is-active
			display: block
	&__top
		padding: 20px 10px 25px 17px 
	&__title
		color: white
		font-size: 2.5rem
		+bold
		line-height: 1
		text-transform: uppercase
		margin-bottom: 20px
	&__filter
		+ul
		text-align: justify
		&:after
			display: inline-block
			content: "" 
			width: 100%
		li
			display: inline-block
		a
			font-size: 20px
			line-height: 1
			+white-link
			border-bottom: 1px dotted #fff 
			+light
			&:hover
				border: none
			&.is-active
				+bold
				border: none
	&-league
		padding-bottom: 10px
		.league-item
			margin: 0 10px 10px 
			&__top
				padding-right: 45px
				position: relative
			&__control
				position: absolute
				top: -2px
				right: 0
				font-size: 0		
				.is-t, .is-play
					width: 16px
					height: 16px
					border-radius: 50%	
					display: inline-block
					vertical-align: top	
					margin-right: 4px
					color: #fff 
					line-height: 15px
					text-align: center
				.is-t
					background-color: #2188b8
				.icon-t
					font-size: 8px
					margin: 4px 0 0 1px 
				.icon-lil-play
					font-size: 16px
					color: #2188b8 
						
	&-league
		&__title
			color: white
			font-size: 2rem
			line-height: 1.7
			position: relative
			+clr
			padding: 10px 45px 8px 46px 
			margin-bottom: 10px
			&:before
				content: "" 
				position: absolute
				top: 50%
				left: 10px
				margin-top: -16px
			&.is-super
				background-color: #c3241c
				&:before
					+s(league-super)
			&.is-major
				background-color: #b1894d
				&:before
					+s(league-major)
			&.is-russia
				background-color: #006f61
				&:before
					+s(league-russia)
			&.is-women
				background-color: #d96180
				&:before
					+s(league-women)
			.icon-date
				position: absolute
				top: 17px
				right: 10px
				font-size: 21px
	&-partner
		padding: 0 10px
		text-align: center
		font-size: 0
		a
			display: block
			background: #fff 
			img
				max-width: 100%

.page-title
	&__text
		div
			+reg
			color: #333
			font-size: 2rem
			line-height: 1
			padding: 3px 0 
			+r(767)
				font-size: 1.5rem 
				+bold
				a
					+reg
			b
				+bold
			a
				color: #197fba
				&:hover
					text-decoration: underline

.match-topper
	padding: 20px 0 0 

.match-slider
	overflow: hidden
	.slick-prev, .slick-next
		z-index: 20
		+r(767)
			display: none !important
	.slick-prev
		left: 8px
	.slick-next
		right: 8px

.match-slide
	background: url(../img/match-gols.png) no-repeat
	+cover
	position: relative
	padding: 0 0 43px 
	height: 446px
	overflow: hidden
	+r(1219)
		height: auto
	+r(767)
		padding: 0 
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: rgba(0, 0, 0, 0.65)
	&__video
		width: 100%
		height: 0
		padding: 0 0 51.668% 
		z-index: 5
		position: relative 
		+r(767)
			display: none
		iframe
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
.match-gols
	position: relative
	z-index: 5 
	+r(767)
		display: none
	&__top
		+clr
		max-width: 90%
		padding: 4px 10px 15px
		margin: 0 auto 
	&__name
		width: 40%
		+r(767)
			width: 38%
		&.is-left
			float: left
			text-align: left
			+r(767)
				text-align: left
			.match-gols__logo
				float: left
		&.is-right
			float: right
			text-align: right
			+r(767)
				text-align: center
			.match-gols__logo
				float: right
		span
			display: block
			overflow: hidden
			color: white
			font-size: 2.5rem
			text-transform: uppercase
			+bold
			line-height: 1
			padding: 17px 10px 0 
			+r(1219)
				font-size: 2rem
			+r(767)
				font-size: 1.1rem 
				padding: 25px 5px 0 
	&__logo
		height: 55px
		width: 35px
		+vertical
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
			max-height: 100% 
		+r(767)
			margin: 0 auto 

	&__score
		text-align: center
		width: 20%
		overflow: hidden
		padding: 8px 0 0 
		+r(767)
			width: 24%
			padding: 16px 0 0 
		span
			font-size: 4.1rem
			+bold
			+r(1219)
				font-size: 3rem
		span, small
			display: block
			color: white 
			line-height: 1
		small
			font-size: 1.5rem
			+r(1219)
				font-size: 1.3rem
	&__container
		padding: 0 10px 33px
		max-width: 90%
		margin: 0 auto 
		+r(767)
			width: 100%
			padding: 0 5px 33px 
	&__row
		margin: 0 -4px
		+clr
	&__col
		width: 50%
		padding: 0 4px 
		float: left
		+r(767)
			width: 100%
			margin: 0 auto
			padding: 4px 0
			float: none  
		&.is-left
			text-align: left
		&.is-right
			text-align: right
			+r(767)
				text-align: left
		&-in
			background: rgba(black, 0.7) 
			min-height: 228px 
			padding: 5px 0 6px 
			+r(767)
				min-height: 0 
	&__bottom
		padding: 0 15px
		+clr 
		+r(767)
			padding-bottom: 15px 
	&__user
		float: left
		width: 20%
		+clr
		padding: 5px 
		+r(1219)
			width: 33.33%
		+r(767)
			width: 50%
		+r(500)
			width: 100% 
		&-img
			float: left
			width: 38px
			height: 49px
			margin: 0 7px 0 0 
			img
				width: 100%
				height: 100%
		&-text
			overflow: hidden
			span, small
				font-size: 1.5rem
				color: #fff
				line-height: 1.1
				display: block
				+r(1219)
					font-size: 1.4rem
			span
				+bold
.match-item
	padding: 2px 15px 1px 
	+clr
	&.is-left
		.match-item
			&__score
				padding: 0 25px 0 0
				text-align: left
				float: left
				+r(767)
					float: right
				&:before
					right: 0
			&__img
				float: right
				margin-left: 5px
				+r(767)
					float: left
	&.is-right
		.match-item
			&__score
				padding: 0 0 0 25px
				text-align: right
				float: right
				&:before
					left: 0
			&__img
				float: left
				margin-right: 5px
	&__score
		color: #87d50b
		font-size: 1.8rem
		+reg
		line-height: 1
		position: relative
		width: 46px
		margin: 4px 0 0 
		&:before
			@extend %icon
			content: $icon-ball
			position: absolute
			top: 50%
			color: #fff
			font-size: 16px
			margin-top: -8px 
	&__img
		width: 28px
		height: 28px
		font-size: 0
		img
			width: 100%
			height: 100%
			border-radius: 50%
	&__text
		overflow: hidden
		color: white
		font-size: 1.5rem
		line-height: 1
		padding: 7px 10px 6px 

.match-info
	position: relative
	z-index: 5
	padding: 18px 0 33px 
	max-width: 90%
	margin: 0 auto 
	+clr
	&__title
		text-align: center
		+r(767)
			margin-bottom: 10px
		span
			font-size: 4.1rem
			+reg
			margin-bottom: 12px
			+r(1219)
				font-size: 3rem
		small
			font-size: 1.5rem
			+r(1219)
				font-size: 1.3rem
		span, small
			display: block
			color: white
			line-height: 1
	&__team
		width: 27.5%
		text-align: center
		&.is-left
			float: left
		&.is-right
			float: right
		+r(767)
			width: 30% 
	&__name
		color: white
		font-size: 2.5rem
		line-height: 1
		text-transform: uppercase
		+bold
		+r(1219)
			font-size: 1.8rem
		+r(767)
			font-size: 1.3rem	
			margin: 0 -10px 		
	&__img
		height: 175px
		+vertical
		+r(767)
			height: 100px
		img
			max-width: 100%
			max-height: 100%
			display: inline-block
			vertical-align: middle
			+r(767)
				// max-width: 88px
				// margin: 0 auto 
	&__text
		max-width: 160px
		margin: 0 auto 
		span
			font-size: 2rem
			+bold
			margin-bottom: 6px
			+r(1219)
				font-size: 1.8rem
		small
			font-size: 1.5rem
			+r(1219)
				font-size: 1.3rem
		span, small
			display: block
			color: white
			line-height: 1.2
	&__score
		overflow: hidden
		width: 45%
		text-align: center
		padding: 40px 0 20px 
		+r(767)
			width: 40% 
			padding: 30px 0 20px 
	&__numbers
		font-size: 15rem
		line-height: 1
		color: white 
		+r(1219)
			font-size: 7rem
		+r(767)
			font-size: 4.1rem 
		b
			+bold
	&__time
		span, small
			color: white
			font-size: 3rem
			line-height: 1.2
			display: block
			+r(767)
				font-size: 1.3rem 
		small
			+bold

.match-content
	position: relative
	border-radius: 10px
	overflow: hidden
	margin-bottom: 20px
	-webkit-transform: translate3d(0, 0, 0)
	-moz-transform: translate3d(0, 0, 0)
	-ms-transform: translate3d(0, 0, 0)
	-o-transform: translate3d(0, 0, 0)
	transform: translate3d(0, 0, 0)
	&__tabs
		position: absolute
		bottom: 0
		left: 0
		right: 0
		+ul
		text-align: center
		+r(767)
			position: static
		li
			display: inline-block
			vertical-align: top
			width: 33.33%
			color: #b1b1b1
			border-bottom: 6px solid black 
			padding: 7px 10px 8px
			background-color: rgba(0, 0, 0, 0.26)
			cursor: pointer
			+r(767)
				width: 100%
			&:hover
				background-color: rgba(0, 0, 0, 0.4)
			&.is-active
				border-color: #b7b7b7 
				span, i
					color: #fff
				span
					+bold
			i
				font-size: 1.3rem
				color: #b1b1b1 
				margin-right: 5px
			span				
				font-size: 1.8rem
				line-height: 1
				padding: 4px 0 0 
			i, span
				display: inline-block
				vertical-align: middle
	.slick-next, .slick-prev
		margin-top: -25px
		&:before
			font-size: 35px
			
.match-scale
	position: relative
	background-color: white
	border-radius: 10px
	padding: 28px 17px 27px 67px 
	margin-bottom: 20px
	+clr
	+r(767)
		padding-left: 17px
	&__team
		width: 50%
		float: left
		padding: 0 6px 
		+r(767)
			width: 100%
		&.is-first
			.match-scale
				&__logo
					top: 5px
		&.is-second
			.match-scale
				&__logo
					bottom: 5px
	&__logo
		position: absolute
		left: 13px
		height: 70px
		width: 50px
		+vertical
		+r(767)
			position: static
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
			max-height: 100% 
			
.match-range
	padding: 52px 0 55px
	position: relative
	&__line
		height: 10px
		background-color: #197fba
		box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.58)
		border-radius: 10px
	&__goal
		width: 33px
		height: 33px
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.48)
		border-radius: 50% 
		position: absolute
		margin-left: -16px
		&:before, &:after
			content: "" 
			position: absolute
			left: 50%
		&:before
			margin-left: -7px
		&:after
			margin-left: -6px
		&.is-top
			top: 0
			&:before, &:after
				top: 100%
			&:before
				+arr(14, 14, rgba(black, 0.2), b)
				margin-top: -5px
			&:after			
				+arr(12, 12, #ededed, b)
				margin-top: -4px
		&.is-bottom
			bottom: 0
			&:before, &:after
				bottom: 100%
			&:before
				+arr(14, 14, rgba(black, 0.2), t)
				margin-bottom: -5px
			&:after				
				+arr(12, 12, #ededed, t)
				margin-bottom: -4px
		.icon-football
			font-size: 23px
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			line-height: 33px
			text-align: center
			color: #197db7
			background: #ededed
			border-radius: 50% 
	&__card
		width: 21px
		height: 28px
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.48), inset 0.5px 0.9px 0 #ffd967
		position: absolute
		margin-left: -10px
		&:before
			content: "" 
			position: absolute
			left: 50%
			margin-left: -5px
		&.is-top
			top: 7px
			&:before
				top: 100%
		&.is-bottom
			bottom: 5px
			&:before
				bottom: 100%
		&.is-yellow			
			background-image: linear-gradient(-36deg, #f0b923 0%, #ffd200 100%)
			&.is-top
				&:before
					+arr(10, 10, #f3be1b, b)
			&.is-bottom
				&:before
					+arr(10, 10, #fccc08, t)
		&.is-red			
			background-image: linear-gradient(-36deg, #9a190f 0%, #da3f28 100%)
			&.is-top
				&:before
					+arr(10, 10, #9a190f, b)
			&.is-bottom
				&:before
					+arr(10, 10, #cc3722, t)

.match-tooltip
	background-color: #197fba
	border-radius: 7px
	padding: 0 45px 0 0
	position: relative
	+clr	
	white-space: nowrap
	overflow: hidden
	-ms-text-overflow: ellipsis
	text-overflow: ellipsis	
	img
		position: absolute
		top: 5px
		right: 11px
		height: 28px
		border-radius: 50%
	time, span
		font-size: 1.8rem	
		padding: 10px 0 9px	
		color: white
		+reg
		line-height: 1
		display: inline-block
		vertical-align: top
	time
		text-transform: uppercase
		text-align: center
		width: 38px
		border-right: 1px solid rgba(black, 0.36) 
		margin-right: 10px
	span
		b
			+bold

.match-tabs
	background-color: white
	border-radius: 10px
	padding: 0 20px 20px
	margin-bottom: 20px
	+r(767)
		padding: 20px 
	.tabs__list
		text-align: justify
		font-size: 0.1px 
		+r(1219)
			text-align: left
		&:after
			display: inline-block
			content: "" 
			width: 100%
		li
			+r(1219)
				display: block
			+r(991)
				display: inline-block
			+r(767)
				display: block
			a
				padding: 0.850em 0.8em .8em 
				font-size: 1.6rem 
				+r(1219)
					font-size: 1.5rem
				+r(767)
					font-size: 2rem 
					padding:  0.6em 0.5em .4em 
	&__top
		text-align: center
		padding: 0 0 20px 
		h3
			margin: 0
		+r(767)
			text-align: left
			h3
				font-size: 2.5rem 
	&__sub-title
		font-size: 1.8rem
		line-height: 1.3
		padding: 4px 0 0 
	&__section
		display: none
		&.is-active
			display: block
			+r(767)
				display: none
			&.is-mobile
				+r(767)
					display: block
	&__logo-m
		display: none
		width: 50px
		height: 70px  
		clear: both
		img
			max-width: 100%
			max-height: 100%  
		&:first-child
			margin-top: 20px 
		+r(767)
			display: block
		

.match-statistic
	&__row
		+clr
		+r(767)
			margin-bottom: 20px
			padding-left: 33%  
	&__team
		float: left
		width: 50% 
		position: relative
		padding: 25px 0 33px
		+r(767)
			width: 50%
			padding: 10px 0 10px 
		&.is-left
			padding-left: 55px
			text-align: left
			.match-statistic
				&__logo
					left: 0
			+r(767)
				padding-left: 0
		&.is-right
			padding-right: 55px
			text-align: right
			+r(767)
				padding-left: 0
				padding-right: 0
				text-align: left
			.match-statistic
				&__logo
					right: 0
					+r(767)
						right: auto
						left: 0
	&__logo
		position: absolute
		top: 0
		height: 70px
		width: 50px
		+vertical
		img
			max-width: 100% 
			max-height: 100% 
			display: inline-block
			vertical-align: middle
		+r(767)
			position: static
			margin: 0 auto 
			height: 40px
			width: 30px  
	&__name, &__label
		color: #333
		line-height: 1 
		+r(767)
			display: none
	&__name
		font-size: 3rem
		margin-bottom: 14px
		+r(1219)
			font-size: 2.4rem
	&__label
		font-size: 1.5rem
		margin-bottom: 10px
	&__results
		font-size: 0
		margin: 0 -2px 
		+r(767)
			display: none
		.is-circle
			display: inline-block
			vertical-align: top
			width: 16px
			height: 16px
			margin: 0 2px 
			border-radius: 50%
			&.is-green
				background-color: #87d50b
			&.is-yellow
				background-color: #f5d000
			&.is-red
				background-color: #e43b06

.match-container
	padding: 0 0 20px 
	+r(767)
		padding: 0 

.match-row
	margin: 0 -7px 50px
	+clr
	position: relative
	+r(767)
		margin: 0 0px 25px 
	&.is-blue
		.match-col
			&__range
				i
					background-color: #197fba
	&.is-red
		.match-col
			&__range
				i
					background-color: #e43b06
	&.is-yellow
		.match-col
			&__range
				i
					background-color: #f5d000
	&.is-green
		.match-col
			&__range
				i
					background-color: #87d50b
	&__label, .match-col span
		color: #333
		font-size: 2rem
		line-height: 1
		text-transform: uppercase
		+bold
	&__label
		position: absolute
		top: 0
		left: 50%
		margin-left: -100px
		width: 200px
		text-align: center
		+r(767)
			position: static
			margin-left: 0
			text-align: left
			float: left
			width: 33% 
			font-size: 1.5rem 
			+light


.match-col
	float: left
	width: 50%
	padding: 0 7px 
	&.is-left
		.match-col
			&__range
				i
					float: right
		span
			text-align: left
			+r(767)
				text-align: center
	&.is-right
		.match-col
			&__range
				i
					float: left
		span
			text-align: right
			+r(767)
				text-align: center
	&__range
		height: 11px
		background-color: #d6d6d6
		border-radius: 10px
		overflow: hidden
		i
			display: block
			height: 11px
			border-radius: 10px
	span
		display: block
		padding: 0 0 14px 
	&__range
		+r(767)
			display: none
	+r(767)
		width: 33% 
		
.mc
	&-page
		padding-bottom: 20px
	&-photo
		h2
			color: #fff 
	&-slide
		position: relative
		&.slick-active
			.mc-slide
				&__text
					visibility: visible
					opacity: 1
					transition: visibility 0.25s 0.4s, opacity 0.25s 0.4s
		&__text
			position: absolute
			bottom: 0
			left: 0
			right: 0
			color: white
			font-size: 1.8rem
			line-height: 1.2
			padding: 10px
			background: rgba(black, 0.64) 
			visibility: hidden
			opacity: 0
	&-slider
		margin-bottom: 20px
		.slick-prev, .slick-next
			z-index: 10
			top: 0
			bottom: 0
			margin: 0
			height: 100%
			width: 20%
			text-align: center
			+r(767)
				width: 10%
			&:before
				font-size: 47px
				line-height: 1
				height: auto
				+r(767)
					font-size: 25px
		.slick-prev
			left: 0
			background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%)
		.slick-next
			right: 0
			background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%)
	&-thumbs
		margin-bottom: 30px
		.slick-center
			img
				box-shadow: 0 0 0 3px #0072b6
				border-radius: 10px
		&__item
			padding: 10px
			img
				cursor: pointer

.match-tabs__gols
	&-row
		+clr
	&-col	
		width: 50%
		padding: 0 7px 20px
		float: left
		+r(767)
			width: 100% 
	&-team
		float: left
		width: 100% 
		position: relative
		padding: 25px 0 33px
		+r(767)
			padding-bottom: 0 
		&.is-left
			// padding-left: 55px
			text-align: left
			.match-tabs__gols
				&-logo
					left: 0
				&-name
					padding-left: 55px 
		&.is-right
			text-align: right
			.match-tabs__gols
				&-logo
					right: 0
				&-name
					padding-right: 55px 
			+r(767)
				padding-left: 0
				text-align: left 
				.match-tabs__gols
					&-logo
						left: 0
					&-name
						padding-right: 0
						padding-left: 55px 
	&-logo
		position: absolute
		top: 0
		height: 70px
		width: 50px
		+vertical
		img
			max-width: 100% 
			max-height: 100% 
			display: inline-block
			vertical-align: middle

	&-name
		font-size: 3rem
		margin-bottom: 14px
		color: #333
		line-height: 1 
		+r(767)
			font-size: 2.4rem
	.table-wrap
		overflow: auto
	.table-forecasts
		margin: 0
		min-width: 360px
	&-title
		margin: 0 0 15px
		position: relative
		text-align: center
		clear: both
		&:before
			content: "" 
			position: absolute
			top: 50%
			left: 7px
			right: 7px
			border-bottom: 1px dotted #333 
			margin-top: -1px
		span
			display: inline-block
			padding: 0 10px 
			background: #fff 
			font-size: 1.5rem 
			position: relative
	&-top
		background: #f3f3f3
		text-align: center 
		padding: 5px 0
		margin-bottom: 20px
		h3
			margin: 0
			
.match-table-wrap
	width: 100%
	overflow: auto
	+r(767)
		padding-bottom: 10px 
.match-table
	width: 100%
	min-width: 300px 
	th, td
		+reg
		padding: 10px
		color: #333 
		vertical-align: middle
		line-height: 1
		font-size: 0
		text-align: left
		b
			+bold
			font-size: 1.8rem
	tr
		&:nth-child(odd)
			td
				background: #f3f3f3 
				&:first-child
					border-radius: 10px 0 0 10px
				&:last-child
					border-radius: 0 10px 10px 0
	td
		img
			float: left
			border-radius: 50%
			width: 29px
			margin: 0 10px 0 0 
		i
			&.is-card
				width: 21px
				height: 28px
				float: left
				margin: 0 10px 0 0 
				font-size: 1.4rem
				font-style: normal
				+reg
				color: #333
				line-height: 28px
				text-align: center 
				&.is-yellow
					background-image: linear-gradient(-36deg, #f0b923 0%, #ffd200 100%)
				&.is-red
					background-image: linear-gradient(-36deg, #9a190f 0%, #da3f28 100%)
		span
			display: block
			overflow: hidden
			font-size: 1.5rem
	&.match-table_mod
		tr
			&.is-bg
				td
					background: #f3f3f3 
			td
				background: none
				&:first-child, &:last-child
					border-radius: 0
					
.match-history
	&__table-wrap
		overflow: auto
	&__table
		min-width: 730px 
		border-right: 1px solid #f3f3f3
	th, td
		padding: 10px 13px
		vertical-align: middle
	th
		background: #f3f3f3
		line-height: 1
		color: #333
		font-size: 2rem
		+bold
	td
		border-bottom: 1px solid #f3f3f3
		border-left: 1px solid #f3f3f3
		&.is-date
			width: 23%
			font-size: 1.3rem
			color: #333 
			text-align: right
			.icon-date
				float: left
				font-size: 1.6rem
		&.is-info
			width: 47%
		&.is-btns
			width: 5%
			text-align: center
			font-size: 0
			div
				padding: 5px 0 
			a
				display: inline-block
				color: #2188b8
				+tdn
				&:hover
					color: darken(#2188b8, 10%) 
				i
					font-size: 1.4rem
		&.is-address
			width: 25%
			font-size: 1.3rem
			color: #333 
			b
				+bold
				display: block
	&__sub-table
		display: table
		width: 100%
	&__team, &__score
		display: table-cell
		vertical-align: middle
	&__score
		width: 20%
		text-align: center
		font-size: 3rem
		+bold
		color: #333 
	&__team
		position: relative
		padding: 22px 5px 20px
		width: 40%
		&.is-left
			padding-left: 35px
			text-align: right
			.match-history__logo
				left: 0
				text-align: left
		&.is-right
			padding-right: 35px
			text-align: left
			.match-history__logo
				right: 0
				text-align: right
		span
			display: block
			font-size: 1.3rem
			line-height: 1
			color: #333
			+reg 
	&__logo
		position: absolute
		top: 0
		height: 55px
		+vertical
		width: 35px
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
			max-height: 100%

.page-box__dropdown
	position: relative

.page-dropdown
	position: absolute
	top: 100%
	left: 0
	right: 0
	z-index: 200
	background: #fff
	border: 2px solid #333
	border-radius: 10px
	padding: 10px 10px 0
	display: none
	&.is-active
		display: block
	&__field
		padding: 0 0 10px 
	.btn-submit
		width: 100%