.main
	margin: 0 0 -394px
	min-height: 100%
	+r(1219)
		margin: 0
		min-height: 1px 
	&:after
		display: block
		height: 394px
		content: ""
		+r(1219)
			display: none
	&__inner
		overflow: hidden
		&.index-page
			+g(#3375cc, #71aad5)
.content
	padding: 30px 0	
	
.top-banner
	display: block
	color: #fff
	position: relative
	font-size: 0
	&_main
		padding: 14px 0 16px
		.top-banner
			&__img
				box-shadow: inset 0 0 90px rgba(58, 225, 255, 0.75), 0 0 90px rgba(58, 225, 255, 0.75)
				border-radius: 50px
				&:before
					content: "" 
					border-radius: 50px
					position: absolute
					left: 0
					right: 0
					top: 10%
					bottom: 10%
					box-shadow: inset 0 0 90px rgba(58, 225, 255, 0.75), 0 0 90px rgba(58, 225, 255, 0.75)
	&_team
		padding: 9px 0 30px 
		.top-banner
			&__img
				margin: 0 17px 0 0 
				img
					max-width: 168px
			&__box
				padding: 20px 0 0 
		h3
			+litalic
			color: #FFF 
			display: inline
			line-height: 1.1
			b
				+bitalic
		.btn-next
			margin: 0 0 0 20px 
	&__img
		float: right
		position: relative
		+r(991)
			float: left		
		img
			position: relative
			max-width: 100%
	&__info
		overflow: hidden
		position: relative
		padding: 6px 0 5px 
	&__title
		+thin
		font-size: 2.5rem
		line-height: 1.2
		b
			+bold
			display: block
	&__text
		+light
		font-size: 16px
		display: inline-block
		vertical-align: top
		padding: 3px 20px 4px 0
		
.banner
	position: relative
	border-radius: 10px
	overflow: hidden
	margin-bottom: 20px
	&__img
		display: block
		font-size: 0
		img
			width: 100%
	&__info
		position: absolute
		bottom: 0
		left: 0
		right: 0
		background: rgba(black, 0.7)
		padding: 13px 20px 14px
	&__title, &__text	
		color: white
	&__title
		font-size: 1.8rem
		line-height: 1.2
		+bold
		a
			+white-link
			display: block
			&:hover
				text-decoration: underline
	&__text
		display: block
		font-size: 1.5rem
		line-height: 1.2
		+white-link
		margin: 5px 0 10px
		&:hover
			text-decoration: underline
	time
		display: inline-block
		vertical-align: top
		color: #fffefe
		font-size: 1.2rem
		padding: 6px 10px 7px 0
		
.scoreboard
	border-radius: 10px
	background: url(../img/scoreboard.png) no-repeat #f93526
	+cover
	margin-bottom: 20px
	&__section
		&.is-active
			.scoreboard__head
				background: none
				padding: 14px 20px 0
			.scoreboard__title
				font-size: 2rem
				i
					display: none
			.button-white
				display: block
		.button-white
			float: right
			display: none
	&__head
		padding: 6px 20px
		background-color: rgba(#001616, 0.7)
		&.is-last
			border-radius: 0 0 10px 10px
		&.is-first
			border-radius: 10px 10px 0 0
	&__title
		font-size: 1.5rem
		+bold
		text-transform: uppercase
		color: #fff 
		cursor: pointer
		overflow: hidden
		i
			font-size: 0.9rem
			vertical-align: top
			padding: 6px 0 0 10px 
		span
			padding: 1px 0 0 
			display: inline-block
			vertical-align: top
	&__body
		display: none
	&__filter
		padding: 3px 20px 6px
		+clr
	&__box
		float: left
		position: relative
		&.is-pro
			width: 41%
			padding: 0 10px 10px 0
		&.is-super
			width: 33%
			padding: 0 10px 10px 23px
			i
				position: absolute
				top: 0
				left: 0
			
	&__leagues
		width: 26%
		float: right
		margin: 2px 0 0 
		img
			max-width: 100%
.scoreboard-table
	width: 100%
	border-radius: 0 0 10px 10px
	overflow: hidden
	td
		&.is-name
			width: 46%
			padding: 2px 0 0 20px 
		&.is-game
			width: 13%
			padding: 2px 0 0 10px
		&.is-match
			width: 24%
			padding: 2px 0 0 10px
		&.is-point
			width: 17%
			padding: 2px 0 0 10px
	th
		&.is-name
			width: 46%
			padding: 0 0 0 20px 
		&.is-game
			width: 13%
			padding: 0 0 0 10px
		&.is-match
			width: 24%
			padding: 0 0 0 10px
		&.is-point
			width: 17%
			padding: 0 0 0 10px
	thead
		th
			color: #080808
			+bold
			font-size: 1.3rem
			line-height: 1
	tbody
		tr
			&:nth-child(even)
				background: rgba(white, 0.2) 
		td
			color: white
			font-size: 1.4rem
			line-height: 1.5
			+bold

.block
	background-color: white
	border-radius: 10px
	padding: 20px 
	margin-bottom: 20px
	&_dark
		background: #333 
	&__top
		+clr
		margin-bottom: 20px
	.text-tabs
		float: left
	.button-blue
		float: right
		+r(767)
			display: none
	&__body
		+clr
	&__section
		margin: 0 -15px
		+clr
		position: relative
	&__body, &__events
		position: absolute
		top: 0
		left: 0
		right: 0
		opacity: 0
		visibility: hidden
		width: 100%
		+wo
		transition: opacity 0.25s, visibility 0.25s
		&.is-active
			opacity: 1
			visibility: visible
			position: relative
		&.is-table
			+r(1219)
				display: block
				width: 50%
				float: left
				position: relative
				visibility: visible
				opacity: 1
			+r(767)
				display: none
				width: 100%
		&.is-active
			+r(767)
				display: block
	&__events
		padding: 0 15px 
	&__box
		width: 25%
		float: left
		padding: 0 15px 15px
		+r(767)
			width: 100%
	&__footer
		padding: 6px 0 0
		text-align: right 
		&_mod
			padding: 6px 15px 0 
	&__headers
		+clr
		margin: 0 -15px 
		display: none
		+r(1219)
			display: block
		+r(767)
			display: none
	&__title
		width: 50%
		float: left
		color: #fff
		font-size: 4.1rem
		+bold
		padding: 1px 15px
		text-transform: uppercase
		
.main-slider
	&_video
		+r(1007)
			margin-bottom: 20px
	&_photo
		+r(991)
			margin-bottom: 20px
	.slick-dots
		+ul
		position: relative
		li
			padding: 0 3px 
			&.slick-active
				button
					opacity: 1
					background: #999999
		button
			width: 13px
			height: 13px
			background: #d7d7d7
			transition: background 0.25s
			&:hover
				background: darken(#d7d7d7, 10%)
			
.text-tabs
	font-size: 0
	&.table-none
		+r(1219)
			display: none
		+r(767)
			display: block
	div
		display: inline-block
		vertical-align: top
		&:first-child
			&:before
				display: none
		&:before
			content: "/"
			display: inline-block
			vertical-align: top
			color: #333
			font-size: 4.1rem
			+bold
			line-height: 1
			margin: 0 10px 
			+r(767)
				font-size: 2rem
				margin: 0 5px 
		a
			font-size: 25px
			color: #197fba
			display: inline-block
			vertical-align: top
			line-height: 1
			position: relative
			padding: 12px 0 0 
			+tdn
			+r(767)
				font-size: 1.4rem
				padding: 6px 0 0 
			&:hover
				&:before
					display: none
			&:before
				content: "" 
				position: absolute
				bottom: 1px
				left: 0
				right: 0
				border-bottom: 1px dotted #197fba
			&.is-active
				color: #333
				font-size: 4.1rem
				+bold
				padding: 1px 0
				text-transform: uppercase
				+r(767)
					font-size: 2rem
					padding: 1px 0	
				&:before
					display: none
	&_white
		div
			&:before
				color: #fff 
			a
				color: #fff
				&:before
					border-color: #fff 
				&.is-active
					color: #fff 
					
.news-item
	font-size: 0
	&__img
		display: block
		position: relative
		margin-bottom: 7px
		img
			width: 100%
	&__sticker
		position: absolute
		bottom: 0
		left: 0
		font-size: 1rem
		+bold
		color: #fff
		line-height: 15px
		padding: 2px 10px 0 5px
		border-radius: 0 10px 0 0
		background: rgba(black, 0.6) 
		&.is-exclusive			
			background: rgba(red, 0.6)
		&.is-video, &.is-life
			padding: 2px 10px 0 20px 
		&.is-life
			i
				&:after
					content: "" 
					position: absolute
					top: 50%
					left: 2px
					margin: -2px 0 0 0
					width: 4px
					height: 4px
					border-radius: 50%
					background-color: #5bcc00 
		i
			font-size: 0.6rem
			position: absolute
			left: 6px
			top: 6px
	&__info
		time
			font-size: 1.2rem
			color: #555
			display: inline-block
			vertical-align: top
			margin-right: 10px
	&__text
		a
			color: #197fba
			font-size: 1.5rem
			line-height: 1.2
			display: inline-block
			&:hover
				text-decoration: underline

.tag 
	display: inline-block
	vertical-align: top
	font-size: 1.1rem
	color: #010101
	line-height: 1
	padding: 2px 5px 1px
	background-color: #e1e1e1
	border-radius: 7px
	 
.event-item
	&__img
		display: block
		font-size: 0
		margin-bottom: 11px
		img
			width: 100%
	&__text
		margin-bottom: 17px
		height: 73px
		overflow: hidden
	p
		color: #fff
		margin: 0

.heading
	+clr
	font-size: 0
	padding: 25px 0	
	h2, p
		color: #fff 
	h2, p, .btn-next
		display: inline-block
		vertical-align: top
	h2, p
		margin: 0 30px 0 0 
	p
		max-width: 300px
		padding: 2px 0 0 
	.btn-next
		margin: 4px 0 0 35px
	&_dark
		h2, p
			color: #333 

.v-item
	padding: 0 0 30px
	&__img
		display: block
		position: relative
		font-size: 0
		img
			width: 100%
			border-radius: 10px
		.btn-play
			position: absolute
			top: 50%
			left: 50%
			margin: -48px 0 0 -48px 
	&__info
		padding: 8px 0 0 
		time
			display: inline-block
			vertical-align: top
			color: #fff
			font-size: 1.5rem
			line-height: 1.2
		.tag
			margin: 2px 0 0 
		p
			color: #fff
			margin: 0 
			
.small-banner
	padding: 0 0 20px
	+r(991)
		display: none
	a
		display: block
		font-size: 0
		img
			width: 100%
			border-radius: 10px

.in-item
	background: #fff
	border-radius: 10px
	overflow: hidden 
	font-size: 0
	margin: 0 0 20px 
	&__inner
		display: block
		img
			width: 100%
			border-radius: 10px 10px 0 0
	&__name
		color: black
		+reg
		font-size: 1.5rem
		line-height: 2
		padding: 4px 15px 
		
.partners
	background: #fff
	+clr
	border-radius: 10px
	margin-bottom: 20px
	position: relative
	z-index: 15
	.heading
		padding: 20px 5px 25px 
.partner-item
	background: #fff
	text-align: center
	font-size: 0
	padding: 0 5px 20px 
	a
		display: block
		img
			width: 100%
			
.big-banner
	margin: -60px 0 -120px 
	text-align: center
	background-repeat: no-repeat
	+cover
	position: relative
	z-index: 10 
	&__inner
		max-width: 1200px
		padding: 165px 10px 158px
		margin: 0 auto 
	&__inner, h3
		color: #fff
	h3
		margin-bottom: 14px
	&__title, &__teams, &__time
		text-transform: uppercase
	&__title
		font-size: 11.3rem
		+thin
		line-height: 0.78
	&__season
		+reg
		font-size: 3rem
		line-height: 1.15
		margin-bottom: 30px
	&__teams
		+bold
		font-size: 6rem
		line-height: 1
		margin-bottom: 5px
	&__time
		+light
		font-size: 3rem
		line-height: 1.7
		margin-bottom: 43px
		
.champion
	background: #fff
	&__inner
		max-width: 1200px
		margin: 0 auto
		padding: 40px 10px 25px
		position: relative
		z-index: 15 
		text-align: center
	&__title
		color: #333
		font-size: 3.7rem
		line-height: 1.08
		+bold
		max-width: 830px
		margin: 0 auto 20px
	&__list
		+ul
		text-align: center
		margin-bottom: 30px
		li
			display: inline-block
			vertical-align: top
			padding: 10px 
	&__bottom
		text-align: right
		padding: 0 10px 
		font-size: 0
		+r(991)
			text-align: center
		.link-dotted
			margin: 25px 0 0 25px 
			+r(991)
				margin-left: 0
		.btn-next
			margin: 22px 0 0 95px 
			+r(991)
				margin-left: 0
	&__box
		display: inline-block
		vertical-align: top
		+r(991)
			display: block

.champ-item
	width: 157px
	height: 157px
	padding: 10px 
	+r(991)
		width: 150px
		height: 150px
	a
		border: 3px solid transparent
		border-radius: 10px
		display: block
		width: 90%
		height: 90%
		+vertical
		background: #fff
		transition: border-color 0.25s
		&:hover, &.is-active
			border-color: #197fba 
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
			max-height: 100% 
	
.row_banners
	position: relative	

.side-banner
	position: absolute
	top: 0
	+white-link
	&.is-right
		left: 100%
		text-align: left
	&.is-left
		right: 100%
		text-align: right
	&_two
		img
			margin-left: -55px
		.side-banner
			&__text
				margin: 0 0 -43px 
	&_min
		width: 220px
		.side-banner
			&__text
				margin: 0 0 10px
			&__img
				position: absolute
				top: 10px
				right: -133px
	&__text, &__title
		font-size: 2.8rem
		line-height: 0.87
		z-index: 2
		position: relative
	&__text
		+litalic
	&__title
		+bold


//museum
.museum-page
	background: #020d1a 


//academy
.academy-page
	+g(#ffed39, #f2ba2f)
	padding: 20px 0 
	.page-nav
		li
			&.is-active 
				a
					background-color: #f1cb22
					
.text
	h4, p
		color: black 
	p
		+reg
	h4
		text-transform: none

.info
	background-color: white
	border-radius: 10px
	padding: 21px 10px 21px 15px 
	min-height: 805px
	margin-bottom: 26px
	&_small
		min-height: 685px 
	h5
		font-size: 1.8rem
		+bold
		line-height: 1
		color: #333 
		margin-bottom: 3px
	p, li
		font-size: 1.4rem
		line-height: 1.3
	p
		padding: 4px 0 2px
	li
		padding: 4px 0 2px 8px 

.contact-info
	+clr
	p
		margin-bottom: 0
	&__title
		padding-bottom: 15px
	.user-info
		width: 50%
		float: left
		padding: 0 21px 0 0 
		+r(767)
			width: 100%
	&__text
		margin-bottom: 20px
		
.user-info
	+clr
	&__img
		width: 64px
		height: 64px
		float: left
		margin: 0 10px 10px 0 
		img
			width: 100%
			height: 100%
			border-radius: 10px
	p
		overflow: hidden
		clear: none

.request
	max-width: 280px
	margin: 0 auto 20px 
	&__btn
		color: white
		font-size: 1.8rem
		line-height: 1
		+bold
		background-color: #197fba
		border-radius: 10px
		text-align: center
		width: 100%
		padding: 9px 10px 
		i
			font-size: 9px
			vertical-align: top
			margin: 5px 0 0 12px 

.academy-side
	padding: 17px 17px 15px 20px 
	background-color: white
	border-radius: 10px
	margin-bottom: 20px
	.button-blue
		float: right
		margin: 11px 0 10px 10px
		+r(1219)
			margin: 0 0 10px 10px  
	h4
		overflow: hidden
		line-height: 1
		margin-bottom: 10px
	&__bottom
		border-top: 1px solid rgba(black, 0.5)
		margin: 10px 0 0
		padding: 30px 0 15px
		h4
			margin-bottom: 20px
	.mini-form
		max-width: 300px

.seminar
	padding: 10px 0 0 
	font-size: 1.5rem
	line-height: 1.2
	+bold
	clear: both
	a
		color: #197fba
		&:hover
			text-decoration: underline
	b
		color: #333 

.academy-news
	+clr
	padding: 10px 0 
	clear: both
	&__img
		float: left
		width: 79px
		margin: 0 10px 0 0 
		img
			width: 100%
	&__text
		overflow: hidden
		line-height: 1
		font-size: 1.5rem
		+bold
		a
			color: #197fba
			&:hover
				text-decoration: underline

.page-title_academy
	overflow: hidden
	position: relative
	&:before
		content: ""
		position: absolute
		right: -90px
		top: 0
		+s(academy-title)
	h1, .page-nav
		position: relative

//team-page
.team-page
	background: #5d9cc4 
	position: relative
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgb(93,156,196) 90%, rgb(93,156,196) 100%)
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(90%, rgb(93,156,196)), color-stop(100%, rgb(93,156,196)))
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgb(93,156,196) 90%, rgb(93,156,196) 100%)
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgb(93,156,196) 90%, rgb(93,156,196) 100%)
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgb(93,156,196) 90%, rgb(93,156,196) 100%)
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgb(93,156,196) 90%, rgb(93,156,196) 100%)
	
.page-box
	padding: 20px 20px 10px 5px
	border-radius: 10px
	background: #fff 
	+clr
	margin-bottom: 20px
	&__logo
		text-align: center
		width: 180px
		float: left
		margin: 0 20px 20px 0
		font-size: 0
		+r(767)
			float: none
			display: block
		img
			width: 115px
			margin: 0 0 10px 
		span
			color: #197fba
			font-size: 15px
			line-height: 1
			+tdn
	&__info
		overflow: hidden
		font-size: 0
		+r(767)
			padding: 0 10px 
		ul
			+ul
			font-size: 1.5rem
			line-height: 1.6
			margin: 0 10px 0 0 
			+r(1219)
				width: 100%
				margin-bottom: 10px
			span
				width: 150px
				float: left
				+med
				+r(767)
					width: 100%
			a
				color: #197fba
				&:hover
					color: #197fba
					text-decoration: underline
				&:visited
					color: #605ca8
	h1
		margin-bottom: 5px
	&__info ul, &__shirt, &__photo
		display: inline-block
		vertical-align: middle
	&__shirt
		width: 190px
		margin: 0 18px 0 0 
		+r(767)
			max-width: 48%
			margin: 0 2% 0 0
	&__photo
		width: 147px
		+r(767)
			max-width: 48%
	&__btns
		float: right
		width: 160px
		padding: 25px 0 0 
		+r(991)
			width: 100%
			padding: 20px 0  
		.btn-mail, .btn-attr
			margin: 0 0 5px 
			+r(991)
				margin: 0 10px 0 0
	.page-nav
		clear: both
		
.box
	border-radius: 10px
	background: #fff
	padding: 20px 
	margin-bottom: 20px
	&__video
		+clr
		margin: 0 -10px 
	&__container
		+clr
		margin: 0 -10px 
		display: none
		&.is-active
			display: block
		&-players
			.box__col
				padding: 20px 10px 
	&__col
		float: left
		width: 33.33%
		padding: 10px 
		+r(991)
			width: 50%
		+r(767)
			width: 100%
	&__top
		+clr
		h2
			float: left
			margin: 0 0 5px 
		.select
			float: right
			margin: 12px 0 0 10px 
		.btn-next
			float: right
			margin: 5px 0 0 10px 

.user-box
	+clr
	&__img
		float: left
		width: 115px
		margin: 0 8px 0 0
		font-size: 0
		img
			width: 100%
	&__info
		overflow: hidden
		p
			+reg
			line-height: 1.1
			margin-bottom: 14px
			a
				+bold
		ul
			+ul
			+reg
			line-height: 1.2
			font-size: 15px
	&__number
		font-size: 0
		margin-bottom: 9px
		+clr
		img
			margin: 0 10px 0 0 
			width: 24px
			height: 24px
			border-radius: 50%
			float: left
		span
			+bold
			color: #333
			font-size: 2rem
			line-height: 1
			overflow: hidden
			padding: 3px 0 0
			display: block

.media-item
	&__img
		display: block
		position: relative
		font-size: 0
		img
			width: 100%
		.btn-play
			position: absolute
			top: 50%
			left: 50%
			margin: -48px 0 0 -48px 
	&__info
		padding: 8px 0 0 
		.tag
			margin: 2px 0 0 
		p
			color: #000
			margin: 0 

.side-contacts
	padding: 20px
	background: #fff
	border-radius: 10px 
	margin-bottom: 20px
	div
		padding: 0 0 10px 
	p
		line-height: 1.2
		margin: 0

.side-statistic
	background-color: #333
	border-radius: 10px
	padding: 20px
	margin-bottom: 20px 
	h2, &__list
		color: #fff
	.select
		margin-bottom: 20px
	&__list
		+ul
		color: white
		font-size: 1.4rem
		line-height: 1.3
		+bold
		margin-bottom: 20px
		li
			+clr
			margin-bottom: 7px
		span
			width: 170px
			padding: 8px 10px 6px 0
			float: left 
		b
			font-size: 2.5rem
			overflow: hiddens
	&__btn
		text-align: right
		.btn-next
			background: none
			&:hover
				background: #fff 

.side-progress
	padding: 20px
	margin: 0 0 20px
	background-color: white
	border-radius: 10px
	h4
		margin-bottom: 3px
	&__item
		+clr
		padding: 16px 0 13px 
	&__img
		float: left
		width: 79px
		margin: 0 10px 0 0
		font-size: 0 
		img
			width: 100%
	&__text
		overflow: hidden
		p
			margin: 0
			line-height: 1.1
	&__btns
		text-align: center

.side-academy
	text-align: center
	background: url(../img/side-academy.png) no-repeat
	+cover
	max-width: 280px
	height: 240px
	padding: 185px 0 0 
	border-radius: 10px
	margin-bottom: 20px
	ul
		+ul
		li
			display: inline-block
			vertical-align: top
			font-size: 15px
			line-height: 1.3 
			+bold
			color: #555
			&:last-child
				&:after
					display: none
			&:after
				content: "/"
				margin: 0 4px
			a
				color: #555
				&:hover
					text-decoration: underline
					
.link-pdf
	position: relative
	display: inline-block
	vertical-align: top
	width: 190px
	padding: 5px 0 0 34px 
	margin: 0 0 27px 20px
	&:hover
		span
			text-decoration: underline
	i
		font-size: 32px
		position: absolute
		top: 50%
		left: 0
		margin-top: -16px
		color: #1f88d2
	span
		color: #197fba
		font-size: 14px
		+bold
		line-height: 1