$icons: (0:0)
$icons: map-merge($icons,(arr-bottom-active: (X: -95px, Y:-26px, W: 13px, H: 8px, TW: 111px, TH: 90px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(arr-bottom: (X: -95px, Y:-14px, W: 13px, H: 8px, TW: 111px, TH: 90px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(codedby: (X: -24px, Y:-79px, W: 47px, H: 5px, TW: 111px, TH: 90px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(coderiver: (X: -24px, Y:-70px, W: 49px, H: 5px, TW: 111px, TH: 90px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(league-major: (X: -35px, Y:-35px, W: 31px, H: 31px, TW: 111px, TH: 90px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(league-russia: (X: 0px, Y:-35px, W: 31px, H: 31px, TW: 111px, TH: 90px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(league-super: (X: 0px, Y:0px, W: 31px, H: 31px, TW: 111px, TH: 90px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(league-women: (X: -35px, Y:0px, W: 31px, H: 31px, TW: 111px, TH: 90px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(menu-bottom-active: (X: -70px, Y:-49px, W: 16px, H: 10px, TW: 111px, TH: 90px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(menu-bottom: (X: -95px, Y:0px, W: 16px, H: 10px, TW: 111px, TH: 90px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(mini-academy: (X: -70px, Y:-25px, W: 20px, H: 20px, TW: 111px, TH: 90px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(mini-school: (X: 0px, Y:-70px, W: 20px, H: 20px, TW: 111px, TH: 90px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(search-btn: (X: -70px, Y:0px, W: 21px, H: 21px, TW: 111px, TH: 90px, IMG: '../img/icons.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
	$icon: map-get($icons, $icon)
	@return map-get($icon, $attr)

@mixin sprite($iconName)
	background-image: url(icon-attr($iconName, IMG))
	width: icon-attr($iconName, W)
	height: icon-attr($iconName, H)
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y)

@mixin s($i)
	+sprite($i)

.icon-arr-bottom-active
	width: 13px
	height: 8px
	background-image: url('../img/icons.png')
	background-position: -95px -26px
.icon-arr-bottom
	width: 13px
	height: 8px
	background-image: url('../img/icons.png')
	background-position: -95px -14px
.icon-codedby
	width: 47px
	height: 5px
	background-image: url('../img/icons.png')
	background-position: -24px -79px
.icon-coderiver
	width: 49px
	height: 5px
	background-image: url('../img/icons.png')
	background-position: -24px -70px
.icon-league-major
	width: 31px
	height: 31px
	background-image: url('../img/icons.png')
	background-position: -35px -35px
.icon-league-russia
	width: 31px
	height: 31px
	background-image: url('../img/icons.png')
	background-position: 0px -35px
.icon-league-super
	width: 31px
	height: 31px
	background-image: url('../img/icons.png')
	background-position: 0px 0px
.icon-league-women
	width: 31px
	height: 31px
	background-image: url('../img/icons.png')
	background-position: -35px 0px
.icon-menu-bottom-active
	width: 16px
	height: 10px
	background-image: url('../img/icons.png')
	background-position: -70px -49px
.icon-menu-bottom
	width: 16px
	height: 10px
	background-image: url('../img/icons.png')
	background-position: -95px 0px
.icon-mini-academy
	width: 20px
	height: 20px
	background-image: url('../img/icons.png')
	background-position: -70px -25px
.icon-mini-school
	width: 20px
	height: 20px
	background-image: url('../img/icons.png')
	background-position: 0px -70px
.icon-search-btn
	width: 21px
	height: 21px
	background-image: url('../img/icons.png')
	background-position: -70px 0px
