$icons: (0:0)
$icons: map-merge($icons,(academy-title: (X: 0px, Y:0px, W: 233px, H: 237px, TW: 269px, TH: 261px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(codedby: (X: -124px, Y:-241px, W: 47px, H: 5px, TW: 269px, TH: 261px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(coderiver: (X: -71px, Y:-241px, W: 49px, H: 5px, TW: 269px, TH: 261px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(footer-logo: (X: -237px, Y:-181px, W: 21px, H: 31px, TW: 269px, TH: 261px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(footer-rfs: (X: -237px, Y:0px, W: 32px, H: 37px, TW: 269px, TH: 261px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(i-arr-bottom-active: (X: -128px, Y:-250px, W: 13px, H: 8px, TW: 269px, TH: 261px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(i-arr-bottom: (X: -111px, Y:-250px, W: 13px, H: 8px, TW: 269px, TH: 261px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(i-menu-bottom: (X: -71px, Y:-250px, W: 16px, H: 10px, TW: 269px, TH: 261px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(i-search-btn: (X: -237px, Y:-216px, W: 21px, H: 21px, TW: 269px, TH: 261px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(league-major: (X: -237px, Y:-146px, W: 31px, H: 31px, TW: 269px, TH: 261px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(league-russia: (X: -237px, Y:-111px, W: 31px, H: 31px, TW: 269px, TH: 261px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(league-super: (X: -237px, Y:-76px, W: 31px, H: 31px, TW: 269px, TH: 261px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(league-women: (X: -237px, Y:-41px, W: 31px, H: 31px, TW: 269px, TH: 261px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(menu-bottom-active: (X: -91px, Y:-250px, W: 16px, H: 10px, TW: 269px, TH: 261px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(mini-academy: (X: 0px, Y:-241px, W: 20px, H: 20px, TW: 269px, TH: 261px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(mini-school: (X: -24px, Y:-241px, W: 20px, H: 20px, TW: 269px, TH: 261px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(scoreboard-super: (X: -48px, Y:-241px, W: 19px, H: 19px, TW: 269px, TH: 261px, IMG: '../img/icons.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
	$icon: map-get($icons, $icon)
	@return map-get($icon, $attr)

@mixin sprite($iconName)
	background-image: url(icon-attr($iconName, IMG))
	width: icon-attr($iconName, W)
	height: icon-attr($iconName, H)
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y)

@mixin s($i)
	+sprite($i)

.icon-academy-title
	width: 233px
	height: 237px
	background-image: url('../img/icons.png')
	background-position: 0px 0px
.icon-codedby
	width: 47px
	height: 5px
	background-image: url('../img/icons.png')
	background-position: -124px -241px
.icon-coderiver
	width: 49px
	height: 5px
	background-image: url('../img/icons.png')
	background-position: -71px -241px
.icon-footer-logo
	width: 21px
	height: 31px
	background-image: url('../img/icons.png')
	background-position: -237px -181px
.icon-footer-rfs
	width: 32px
	height: 37px
	background-image: url('../img/icons.png')
	background-position: -237px 0px
.icon-i-arr-bottom-active
	width: 13px
	height: 8px
	background-image: url('../img/icons.png')
	background-position: -128px -250px
.icon-i-arr-bottom
	width: 13px
	height: 8px
	background-image: url('../img/icons.png')
	background-position: -111px -250px
.icon-i-menu-bottom
	width: 16px
	height: 10px
	background-image: url('../img/icons.png')
	background-position: -71px -250px
.icon-i-search-btn
	width: 21px
	height: 21px
	background-image: url('../img/icons.png')
	background-position: -237px -216px
.icon-league-major
	width: 31px
	height: 31px
	background-image: url('../img/icons.png')
	background-position: -237px -146px
.icon-league-russia
	width: 31px
	height: 31px
	background-image: url('../img/icons.png')
	background-position: -237px -111px
.icon-league-super
	width: 31px
	height: 31px
	background-image: url('../img/icons.png')
	background-position: -237px -76px
.icon-league-women
	width: 31px
	height: 31px
	background-image: url('../img/icons.png')
	background-position: -237px -41px
.icon-menu-bottom-active
	width: 16px
	height: 10px
	background-image: url('../img/icons.png')
	background-position: -91px -250px
.icon-mini-academy
	width: 20px
	height: 20px
	background-image: url('../img/icons.png')
	background-position: 0px -241px
.icon-mini-school
	width: 20px
	height: 20px
	background-image: url('../img/icons.png')
	background-position: -24px -241px
.icon-scoreboard-super
	width: 19px
	height: 19px
	background-image: url('../img/icons.png')
	background-position: -48px -241px
