@font-face
	font-family: "svgfont"
	src: url('fonts/svgfont.eot')
	src: url('fonts/svgfont.eot?#iefix') format('eot'), url('fonts/svgfont.woff') format('woff'), url('fonts/svgfont.woff2') format('woff2'), url('fonts/svgfont.ttf') format('truetype')
	font-weight: normal
	font-style: normal

$icon-arr-bottom: "\EA01"
$icon-arr-left: "\EA02"
$icon-arr-right: "\EA03"
$icon-attachment: "\EA04"
$icon-camera: "\EA05"
$icon-check-empty: "\EA06"
$icon-check: "\EA07"
$icon-checkbox: "\EA08"
$icon-close: "\EA09"
$icon-date: "\EA0A"
$icon-facebook: "\EA0B"
$icon-google: "\EA0C"
$icon-photos: "\EA0D"
$icon-play: "\EA0E"
$icon-search: "\EA0F"
$icon-twitter: "\EA10"
$icon-youtube: "\EA11"


%icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon, [class^="icon-"], [class*=" icon-"]
	@extend %icon
	display: inline-block

.icon-arr-bottom:before
	content: $icon-arr-bottom
.icon-arr-left:before
	content: $icon-arr-left
.icon-arr-right:before
	content: $icon-arr-right
.icon-attachment:before
	content: $icon-attachment
.icon-camera:before
	content: $icon-camera
.icon-check-empty:before
	content: $icon-check-empty
.icon-check:before
	content: $icon-check
.icon-checkbox:before
	content: $icon-checkbox
.icon-close:before
	content: $icon-close
.icon-date:before
	content: $icon-date
.icon-facebook:before
	content: $icon-facebook
.icon-google:before
	content: $icon-google
.icon-photos:before
	content: $icon-photos
.icon-play:before
	content: $icon-play
.icon-search:before
	content: $icon-search
.icon-twitter:before
	content: $icon-twitter
.icon-youtube:before
	content: $icon-youtube