<!-- begin footer  -->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
				<h4 class="js-footer-open">АМФР<i class="icon-arr-bottom"></i></h4>
				<ul class="footer__list js-footer-list">
					<li><a href="#">История</a></li>
					<li><a href="#">Легенды АМФР</a></li>
					<li><a href="#">Виртуальный музей</a></li>
					<li><a href="#">Партнеры</a></li>
					<li><a href="#">Буклет</a></li>
				</ul>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
				<h4 class="js-footer-open">ДСИ<i class="icon-arr-bottom"></i></h4>
				<ul class="footer__list js-footer-list">
					<li><a href="#">Адмнистрация</a></li>
					<li><a href="#">Судьи</a></li>
					<li><a href="#">Инспекторы</a></li>
					<li><a href="#">Хронометристы</a></li>
					<li><a href="#">Документация</a></li>
				</ul>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
				<h4 class="js-footer-open">ПРОФЕССИОНАЛЫ<i class="icon-arr-bottom"></i></h4>
				<ul class="footer__list js-footer-list">
					<li><a href="#">За рубежом</a></li>
					<li><a href="#">Суперлига</a></li>
					<li><a href="#">Высшая лига</a></li>
					<li><a href="#">Женская лига</a></li>
					<li><a href="#">Дубли</a></li>
					<li><a href="#">Кубок России</a></li>
					<li><a href="#">Кубок УЕФА</a></li>
					<li><a href="#">Кубок Еременко</a></li>
				</ul>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
				<h4 class="js-footer-open">ЛЮБИТЕЛИ<i class="icon-arr-bottom"></i></h4>
				<ul class="footer__list js-footer-list">
					<li><a href="#">Вузы</a></li>
					<li><a href="#">Школы</a></li>
					<li><a href="#">Юношеская лига</a></li>
					<li><a href="#">Любительская лига</a></li>
					<li><a href="#">Корпоративная лига</a></li>
				</ul>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
				<h4 class="js-footer-open">СБОРНЫЕ<i class="icon-arr-bottom"></i></h4>
				<ul class="footer__list js-footer-list">
					<li><a href="#">Национальная</a></li>
					<li><a href="#">Студенческая</a></li>
					<li><a href="#">Молодежная</a></li>
				</ul>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
				<h4 class="js-footer-open">НАШИ ПРОЕКТЫ<i class="icon-arr-bottom"></i></h4>
				<ul class="footer__list js-footer-list">
					<li><a href="#">Академия</a></li>
					<li><a href="#">Мини-футбол - в школу</a></li>
					<li><a href="#">Атлас спортивных школ</a></li>
				</ul>
			</div>
			<div class="col-xs-12">
				<div class="footer__bottom">
					<div class="footer__copy">© 1990–2015 Ассоциация мини-футбола России</div>
					<a href="#" class="footer__rfs">Российский футбольный союз</a>
					<ul class="footer__social">
						<li><a href="#" class="icon-twitter"></a></li>
						<li><a href="#" class="icon-facebook"></a></li>
						<li><a href="#" class="icon-google"></a></li>
						<li><a href="#" class="icon-youtube"></a></li>
						<li><a href="#" class="icon-photos"></a></li>
					</ul>
					<div class="footer-search">
						<div class="footer-search__label">Поиск</div>
						<div class="mini-form mini-form_white">
							<form action="">
								<input type="text" class="mini-form__input">
								<button class="btn-submit">Найти</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- end footer -->