<!--begin header  -->
<header class="header">
	<div class="header__top">
		<button class="btn-match js-mc-btn">Матч-Центр</button>
		<div class="header__left">
			<a href="#" class="logo-img">
				<img src="img/logo.png" alt="">
			</a>
			<a href="#" class="logo-text">				
				<span>Ассоциация мини-футбола России</span>
			</a>
			<button class="header-btn js-dropdown-btn"><i class="icon-arr-bottom"></i>МИР АМФР</button>
		</div>	
		<div class="header-sponsors">
			<div class="header-sponsors__title">Официальные спонсоры</div>
			<a href="#" class="header-sponsors__logo">
				<img src="img/sponsor.jpg" alt="">
			</a>
		</div>	
		<div class="header__right">
			<div class="header__login">
				<ul class="header__enter">
					<li><a href="#">Вход</a></li>
					<li><a href="#">Регистрация</a></li>
				</ul>
				<ul class="header__social">
					<li><a href="#" class="icon-twitter"></a></li>
					<li><a href="#" class="icon-facebook"></a></li>
					<li><a href="#" class="icon-google"></a></li>
					<li><a href="#" class="icon-youtube"></a></li>
					<li><a href="#" class="icon-photos"></a></li>
				</ul>
			</div>
			<a href="#" class="mini-logo">
				<img src="img/mini-logo.png" alt="">
			</a>
		</div>
	</div>
	<div class="menu-mobile">
		<button class="menu-mobile__btn js-dropdown-btn"><i class="icon-arr-bottom"></i>Мир Амфр</button>
		<button class="menu-btn js-mobile-btn"><span></span></button>
	</div>
	<div class="header-dropdown js-dropdown">
		<div class="header-dropdown__inner">
			<div class="header-dropdown__col">
				<h4 class="js-footer-open">АМФР<i class="icon-arr-bottom"></i></h4>
				<ul class="js-footer-list">
					<li><a href="#">История</a></li>
					<li><a href="#">Легенды АМФР</a></li>
					<li><a href="#">Виртуальный музей</a></li>
					<li><a href="#">Партнеры</a></li>
					<li><a href="#">Буклеты</a></li>
				</ul>
			</div>
			<div class="header-dropdown__col">
				<h4 class="js-footer-open">ДСИ<i class="icon-arr-bottom"></i></h4>
				<ul class="js-footer-list">
					<li><a href="#">Администрация</a></li>
					<li><a href="#">Судьи</a></li>
					<li><a href="#">Инспекторы</a></li>
					<li><a href="#">Хронометристы</a></li>
					<li><a href="#">Документация</a></li>
				</ul>
			</div>
			<div class="header-dropdown__col">
				<h4 class="js-footer-open">Пресс-центр<i class="icon-arr-bottom"></i></h4>
				<ul class="js-footer-list">
					<li><a href="#">Новости</a></li>
					<li><a href="#">Пресса</a></li>
					<li><a href="#">Видео</a></li>
					<li><a href="#">Фото</a></li>
				</ul>
			</div>
			<div class="header-dropdown__col">
				<h4 class="js-footer-open">Информация<i class="icon-arr-bottom"></i></h4>
				<ul class="js-footer-list">
					<li><a href="#">Официальные буклеты</a></li>
					<li><a href="#">Научно-методическая литература</a></li>
					<li><a href="#">Специальная программа по приобретению спортивного инвентаря</a></li>
				</ul>
			</div>
			<div class="header-dropdown__contacts">
				<div class="header-contacts">
					<div>
						<small>115172, Россия,</small>
						<small>Москва, ул. Народная, дом 7</small>
						<small>«Дом футбола» Второй этаж, блок "А"</small>
					</div>					
					<div class="header-contacts__text">+7 495 926-13-16, +7 495 926-13-17</div> 
					<div class="header-contacts__text"><a href="#">info@amfr.ru</a></div>
					<a href="#" class="button-blue">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
	<div class="mc js-mc">
		<div class="mc__container">
			<div class="mc__row">
				<div class="mc__top">
					<div class="mc__title">Матч-Центр</div>
					<ul class="mc__filter">
						<li><a href="#" class="is-active">Прошедшие</a></li>
						<li><a href="#">Сегодня</a></li>
						<li><a href="#">Будущие</a></li>
					</ul>
					<div class="mc__right">
						<button class="button-white">SMS</button>
						<i class="icon-close js-mc-close"></i>
					</div>
				</div>
			</div>
			<div class="mc__col">
				<div class="league">
					<div class="league__title is-super">Суперлига <span>6-й тур</span></div>
					<div class="league-item">
						<div class="league-item__top">
							<span>17 марта 2015, 17:00 | Окончен (пенальти, 5:6)</span>
						</div>
						<div class="league-item__body">
							<div class="league-item__team is-loser is-left">	
							
							<div class="league-item__logo">
								<img src="img/nickel-logo.png" alt="">
							</div>			
								<div class="league-item__name">Норильский никель</div>
							</div>
							<div class="league-item__score">
								<span class="is-loser">1</span>
								<span>-</span>
								<span class="is-winner">2</span>
							</div>
							<div class="league-item__team is-winner is-right">
								<div class="league-item__logo">
									<img src="img/ng-logo.png" alt="">
								</div>
								<div class="league-item__name">Новая генерация</div>
							</div>
						</div>
					</div>
					<div class="league-item">
						<div class="league-item__top">
							<span>17 марта 2015, 17:00 | Окончен</span>
						</div>
						<div class="league-item__body">
							<div class="league-item__team is-winner is-left">	
							
							<div class="league-item__logo">
								<img src="img/yamal-logo.png" alt="">
							</div>			
								<div class="league-item__name">Ямал</div>
							</div>
							<div class="league-item__score">
								<span class="is-winner">2</span>
								<span>-</span>
								<span class="is-loser">1</span>
							</div>
							<div class="league-item__team is-loser is-right">
								<div class="league-item__logo">
									<img src="img/tumen-logo.png" alt="">
								</div>
								<div class="league-item__name">Тюмень</div>
							</div>
						</div>
					</div>
					<div class="league-item">
						<div class="league-item__top">
							<span>17 марта 2015, 17:00 | Окончен (пенальти, 5:6)</span>
						</div>
						<div class="league-item__body">
							<div class="league-item__team is-loser is-left">	
							
							<div class="league-item__logo">
								<img src="img/nickel-logo.png" alt="">
							</div>			
								<div class="league-item__name">Норильский никель</div>
							</div>
							<div class="league-item__score">
								<span class="is-loser">1</span>
								<span>-</span>
								<span class="is-winner">2</span>
							</div>
							<div class="league-item__team is-winner is-right">
								<div class="league-item__logo">
									<img src="img/ng-logo.png" alt="">
								</div>
								<div class="league-item__name">Новая генерация</div>
							</div>
						</div>
					</div>
					<div class="league-item">
						<div class="league-item__top">
							<span>17 марта 2015, 17:00 | Окончен</span>
						</div>
						<div class="league-item__body">
							<div class="league-item__team is-winner is-left">	
							
							<div class="league-item__logo">
								<img src="img/yamal-logo.png" alt="">
							</div>			
								<div class="league-item__name">Ямал</div>
							</div>
							<div class="league-item__score">
								<span class="is-winner">2</span>
								<span>-</span>
								<span class="is-loser">1</span>
							</div>
							<div class="league-item__team is-loser is-right">
								<div class="league-item__logo">
									<img src="img/tumen-logo.png" alt="">
								</div>
								<div class="league-item__name">Тюмень</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mc__col">
				<div class="league">
					<div class="league__title is-major">Высшая лига</div>
					<div class="league-item">
						<div class="league-item__top">
							<span>17 марта 2015, 17:00 | Окончен (пенальти, 5:6)</span>
						</div>
						<div class="league-item__body">
							<div class="league-item__team is-loser is-left">	
							
							<div class="league-item__logo">
								<img src="img/nickel-logo.png" alt="">
							</div>			
								<div class="league-item__name">Норильский никель</div>
							</div>
							<div class="league-item__score">
								<span class="is-loser">1</span>
								<span>-</span>
								<span class="is-winner">2</span>
							</div>
							<div class="league-item__team is-winner is-right">
								<div class="league-item__logo">
									<img src="img/ng-logo.png" alt="">
								</div>
								<div class="league-item__name">Новая генерация</div>
							</div>
						</div>
					</div>
					<div class="league-item">
						<div class="league-item__top">
							<span>17 марта 2015, 17:00 | Окончен</span>
						</div>
						<div class="league-item__body">
							<div class="league-item__team is-winner is-left">	
							
							<div class="league-item__logo">
								<img src="img/yamal-logo.png" alt="">
							</div>			
								<div class="league-item__name">Ямал</div>
							</div>
							<div class="league-item__score">
								<span class="is-winner">2</span>
								<span>-</span>
								<span class="is-loser">1</span>
							</div>
							<div class="league-item__team is-loser is-right">
								<div class="league-item__logo">
									<img src="img/tumen-logo.png" alt="">
								</div>
								<div class="league-item__name">Тюмень</div>
							</div>
						</div>
					</div>
					<div class="league-item">
						<div class="league-item__top">
							<span>17 марта 2015, 17:00 | Окончен (пенальти, 5:6)</span>
						</div>
						<div class="league-item__body">
							<div class="league-item__team is-loser is-left">	
							
							<div class="league-item__logo">
								<img src="img/nickel-logo.png" alt="">
							</div>			
								<div class="league-item__name">Норильский никель</div>
							</div>
							<div class="league-item__score">
								<span class="is-loser">1</span>
								<span>-</span>
								<span class="is-winner">2</span>
							</div>
							<div class="league-item__team is-winner is-right">
								<div class="league-item__logo">
									<img src="img/ng-logo.png" alt="">
								</div>
								<div class="league-item__name">Новая генерация</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mc__col">
				<div class="league">
					<div class="league__title is-russia">Кубок России</div>
					<div class="league-item">
						<div class="league-item__top">
							<span>17 марта 2015, 17:00 | Окончен (пенальти, 5:6)</span>
						</div>
						<div class="league-item__body">
							<div class="league-item__team is-loser is-left">	
							
							<div class="league-item__logo">
								<img src="img/nickel-logo.png" alt="">
							</div>			
								<div class="league-item__name">Норильский никель</div>
							</div>
							<div class="league-item__score">
								<span class="is-loser">1</span>
								<span>-</span>
								<span class="is-winner">2</span>
							</div>
							<div class="league-item__team is-winner is-right">
								<div class="league-item__logo">
									<img src="img/ng-logo.png" alt="">
								</div>
								<div class="league-item__name">Новая генерация</div>
							</div>
						</div>
					</div>
					<div class="league-item">
						<div class="league-item__top">
							<span>17 марта 2015, 17:00 | Окончен</span>
						</div>
						<div class="league-item__body">
							<div class="league-item__team is-winner is-left">	
							
							<div class="league-item__logo">
								<img src="img/yamal-logo.png" alt="">
							</div>			
								<div class="league-item__name">Ямал</div>
							</div>
							<div class="league-item__score">
								<span class="is-winner">2</span>
								<span>-</span>
								<span class="is-loser">1</span>
							</div>
							<div class="league-item__team is-loser is-right">
								<div class="league-item__logo">
									<img src="img/tumen-logo.png" alt="">
								</div>
								<div class="league-item__name">Тюмень</div>
							</div>
						</div>
					</div>
					<div class="league-item">
						<div class="league-item__top">
							<span>17 марта 2015, 17:00 | Окончен (пенальти, 5:6)</span>
						</div>
						<div class="league-item__body">
							<div class="league-item__team is-loser is-left">	
							
							<div class="league-item__logo">
								<img src="img/nickel-logo.png" alt="">
							</div>			
								<div class="league-item__name">Норильский никель</div>
							</div>
							<div class="league-item__score">
								<span class="is-loser">1</span>
								<span>-</span>
								<span class="is-winner">2</span>
							</div>
							<div class="league-item__team is-winner is-right">
								<div class="league-item__logo">
									<img src="img/ng-logo.png" alt="">
								</div>
								<div class="league-item__name">Новая генерация</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mc__col">					
				<div class="league">
					<div class="league__title is-women">Женская лига</div>
					<div class="league-item">
						<div class="league-item__top">
							<span>17 марта 2015, 17:00 | Окончен (пенальти, 5:6)</span>
						</div>
						<div class="league-item__body">
							<div class="league-item__team is-loser is-left">	
							
							<div class="league-item__logo">
								<img src="img/nickel-logo.png" alt="">
							</div>			
								<div class="league-item__name">Норильский никель</div>
							</div>
							<div class="league-item__score">
								<span class="is-loser">1</span>
								<span>-</span>
								<span class="is-winner">2</span>
							</div>
							<div class="league-item__team is-winner is-right">
								<div class="league-item__logo">
									<img src="img/ng-logo.png" alt="">
								</div>
								<div class="league-item__name">Новая генерация</div>
							</div>
						</div>
					</div>
					<div class="league-item">
						<div class="league-item__top">
							<span>17 марта 2015, 17:00 | Окончен</span>
						</div>
						<div class="league-item__body">
							<div class="league-item__team is-winner is-left">	
							
							<div class="league-item__logo">
								<img src="img/yamal-logo.png" alt="">
							</div>			
								<div class="league-item__name">Ямал</div>
							</div>
							<div class="league-item__score">
								<span class="is-winner">2</span>
								<span>-</span>
								<span class="is-loser">1</span>
							</div>
							<div class="league-item__team is-loser is-right">
								<div class="league-item__logo">
									<img src="img/tumen-logo.png" alt="">
								</div>
								<div class="league-item__name">Тюмень</div>
							</div>
						</div>
					</div>
					<div class="league-item">
						<div class="league-item__top">
							<span>17 марта 2015, 17:00 | Окончен (пенальти, 5:6)</span>
						</div>
						<div class="league-item__body">
							<div class="league-item__team is-loser is-left">	
							
							<div class="league-item__logo">
								<img src="img/nickel-logo.png" alt="">
							</div>			
								<div class="league-item__name">Норильский никель</div>
							</div>
							<div class="league-item__score">
								<span class="is-loser">1</span>
								<span>-</span>
								<span class="is-winner">2</span>
							</div>
							<div class="league-item__team is-winner is-right">
								<div class="league-item__logo">
									<img src="img/ng-logo.png" alt="">
								</div>
								<div class="league-item__name">Новая генерация</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mc__row">
				<div class="mc__partner">
					<a href="#"><img src="img/academservice.png" alt=""></a>
				</div>
			</div>
		</div>
	</div>
	<div class="menu-wrapper">
		<div class="menu">
			<div class="menu__top js-mobile">
				<ul class="menu__list">
					<li><a href="#" class="is-drop js-menu-link" data-mlink="pro"><i class="icon-arr-bottom"></i>ПРОФЕССИОНАЛЫ</a></li>
					<li><a href="#" class="is-drop js-menu-link" data-mlink="amateur"><i class="icon-arr-bottom"></i>Любители</a></li>
					<li><a href="#" class="is-drop js-menu-link" data-mlink="team"><i class="icon-arr-bottom"></i>Сборные</a></li>
					<li><a href="#" class="is-drop js-menu-link" data-mlink="projects"><i class="icon-arr-bottom"></i>Наши проекты</a></li>
					<li><a href="#" class="is-school"><i></i>Мини-футбол в школу</a></li>
					<li><a href="#" class="is-academy"><i></i>Академия</a></li>
				</ul>
				<i class="btn-search icon-search"></i>
			</div>
			<div class="menu-dropdown js-menu">
				<div class="menu-dropdown__section js-menu-block" data-mblock="pro">
					<ul class="menu-dropdown__list">
						<li><a href="#">За рубежом</a></li>
						<li class="is-drop">
							<a href="#" class="is-drop"><i class="icon-arr-right"></i>Суперлига</a>
							<ul class="menu-dropdown__submenu">
								<li><a href="#">Первенство России</a></li>
								<li><a href="#">Высшая лига. Дивизион «Б»</a></li>
							</ul>
						</li>
						<li class="is-drop">
							<a href="#" class="is-drop"><i class="icon-arr-right"></i>Высшая лига</a>
							<ul class="menu-dropdown__submenu">
								<li><a href="#">Первенство России</a></li>
								<li><a href="#">Высшая лига. Дивизион «Б»</a></li>
							</ul>
						</li>
						<li class="is-drop">
							<a href="#" class="is-drop"><i class="icon-arr-right"></i>Женская лига</a>
							<ul class="menu-dropdown__submenu">
								<li><a href="#">Первенство России</a></li>
								<li><a href="#">Высшая лига. Дивизион «Б»</a></li>
							</ul>
						</li>
						<li class="is-drop">
							<a href="#" class="is-drop"><i class="icon-arr-right"></i>Дубли</a>
							<ul class="menu-dropdown__submenu">
								<li><a href="#">Первенство России</a></li>
								<li><a href="#">Высшая лига. Дивизион «Б»</a></li>
							</ul>
						</li>
						<li class="is-drop">
							<a href="#" class="is-drop"><i class="icon-arr-right"></i>Кубок России</a>
							<ul class="menu-dropdown__submenu">
								<li><a href="#">Первенство России</a></li>
								<li><a href="#">Высшая лига. Дивизион «Б»</a></li>
							</ul>
						</li>
						<li><a href="#">Кубок УЕФА</a></li>
						<li><a href="#">Кубок Еременко</a></li>
					</ul>
					<div class="menu-dropdown__block">
						<div class="menu-dropdown__schedule">
							<h4>Ближайшие матчи</h4>
							<p>1-й тур   10 сентября 2015</p>
							<ul>
								<li>
									<time>17:00</time>
									<span>Газпром-ЮГРА - Дина</span>
								</li>
								<li>
									<time>17:00</time>
									<span>Дина - Тюмень</span>
								</li>
								<li>
									<time>17:00</time>
									<span>Сибиряк - Ямал</span>
								</li>
								<li>
									<time>17:00</time>
									<span>Тюмень - Синара</span>
								</li>
								<li>
									<time>17:00</time>
									<span>Динамо - КПРФ</span>
								</li>
								<li>
									<time>17:00</time>
									<span>Норильский никель - Новая генерация</span>
								</li>
							</ul>
						</div>
						<div class="menu-dropdown__partners">
							<h4>партнеры</h4>
							<ul>
								<li><a href="#"><img src="img/partner1.png" alt=""></a></li>
								<li><a href="#"><img src="img/partner2.png" alt=""></a></li>
								<li><a href="#"><img src="img/partner3.png" alt=""></a></li>
								<li><a href="#"><img src="img/partner4.png" alt=""></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="menu-dropdown__section js-menu-block" data-mblock="amateur">
					<ul class="menu-dropdown__list">
						<li><a href="#">2За рубежом</a></li>
						<li class="is-drop">
							<a href="#" class="is-drop"><i class="icon-arr-right"></i>Суперлига</a>
							<ul class="menu-dropdown__submenu">
								<li><a href="#">Первенство России</a></li>
								<li><a href="#">Высшая лига. Дивизион «Б»</a></li>
							</ul>
						</li>
						<li class="is-drop">
							<a href="#" class="is-drop"><i class="icon-arr-right"></i>Высшая лига</a>
							<ul class="menu-dropdown__submenu">
								<li><a href="#">Первенство России</a></li>
								<li><a href="#">Высшая лига. Дивизион «Б»</a></li>
							</ul>
						</li>
						<li class="is-drop">
							<a href="#" class="is-drop"><i class="icon-arr-right"></i>Женская лига</a>
							<ul class="menu-dropdown__submenu">
								<li><a href="#">Первенство России</a></li>
								<li><a href="#">Высшая лига. Дивизион «Б»</a></li>
							</ul>
						</li>
						<li class="is-drop">
							<a href="#" class="is-drop"><i class="icon-arr-right"></i>Дубли</a>
							<ul class="menu-dropdown__submenu">
								<li><a href="#">Первенство России</a></li>
								<li><a href="#">Высшая лига. Дивизион «Б»</a></li>
							</ul>
						</li>
						<li class="is-drop">
							<a href="#" class="is-drop"><i class="icon-arr-right"></i>Кубок России</a>
							<ul class="menu-dropdown__submenu">
								<li><a href="#">Первенство России</a></li>
								<li><a href="#">Высшая лига. Дивизион «Б»</a></li>
							</ul>
						</li>
						<li><a href="#">Кубок УЕФА</a></li>
						<li><a href="#">Кубок Еременко</a></li>
					</ul>
					<div class="menu-dropdown__block">
						<div class="menu-dropdown__schedule">
							<h4>Ближайшие матчи</h4>
							<p>1-й тур   10 сентября 2015</p>
							<ul>
								<li>
									<time>17:00</time>
									<span>Газпром-ЮГРА - Дина</span>
								</li>
								<li>
									<time>17:00</time>
									<span>Дина - Тюмень</span>
								</li>
								<li>
									<time>17:00</time>
									<span>Сибиряк - Ямал</span>
								</li>
								<li>
									<time>17:00</time>
									<span>Тюмень - Синара</span>
								</li>
								<li>
									<time>17:00</time>
									<span>Динамо - КПРФ</span>
								</li>
								<li>
									<time>17:00</time>
									<span>Норильский никель - Новая генерация</span>
								</li>
							</ul>
						</div>
						<div class="menu-dropdown__partners">
							<h4>партнеры</h4>
							<ul>
								<li><a href="#"><img src="img/partner1.png" alt=""></a></li>
								<li><a href="#"><img src="img/partner2.png" alt=""></a></li>
								<li><a href="#"><img src="img/partner3.png" alt=""></a></li>
								<li><a href="#"><img src="img/partner4.png" alt=""></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="menu-dropdown__section js-menu-block" data-mblock="team">
					<ul class="menu-dropdown__list">
						<li><a href="#">3За рубежом</a></li>
						<li class="is-drop">
							<a href="#" class="is-drop"><i class="icon-arr-right"></i>Суперлига</a>
							<ul class="menu-dropdown__submenu">
								<li><a href="#">Первенство России</a></li>
								<li><a href="#">Высшая лига. Дивизион «Б»</a></li>
							</ul>
						</li>
						<li class="is-drop">
							<a href="#" class="is-drop"><i class="icon-arr-right"></i>Высшая лига</a>
							<ul class="menu-dropdown__submenu">
								<li><a href="#">Первенство России</a></li>
								<li><a href="#">Высшая лига. Дивизион «Б»</a></li>
							</ul>
						</li>
						<li class="is-drop">
							<a href="#" class="is-drop"><i class="icon-arr-right"></i>Женская лига</a>
							<ul class="menu-dropdown__submenu">
								<li><a href="#">Первенство России</a></li>
								<li><a href="#">Высшая лига. Дивизион «Б»</a></li>
							</ul>
						</li>
						<li class="is-drop">
							<a href="#" class="is-drop"><i class="icon-arr-right"></i>Дубли</a>
							<ul class="menu-dropdown__submenu">
								<li><a href="#">Первенство России</a></li>
								<li><a href="#">Высшая лига. Дивизион «Б»</a></li>
							</ul>
						</li>
						<li class="is-drop">
							<a href="#" class="is-drop"><i class="icon-arr-right"></i>Кубок России</a>
							<ul class="menu-dropdown__submenu">
								<li><a href="#">Первенство России</a></li>
								<li><a href="#">Высшая лига. Дивизион «Б»</a></li>
							</ul>
						</li>
						<li><a href="#">Кубок УЕФА</a></li>
						<li><a href="#">Кубок Еременко</a></li>
					</ul>
					<div class="menu-dropdown__block">
						<div class="menu-dropdown__schedule">
							<h4>Ближайшие матчи</h4>
							<p>1-й тур   10 сентября 2015</p>
							<ul>
								<li>
									<time>17:00</time>
									<span>Газпром-ЮГРА - Дина</span>
								</li>
								<li>
									<time>17:00</time>
									<span>Дина - Тюмень</span>
								</li>
								<li>
									<time>17:00</time>
									<span>Сибиряк - Ямал</span>
								</li>
								<li>
									<time>17:00</time>
									<span>Тюмень - Синара</span>
								</li>
								<li>
									<time>17:00</time>
									<span>Динамо - КПРФ</span>
								</li>
								<li>
									<time>17:00</time>
									<span>Норильский никель - Новая генерация</span>
								</li>
							</ul>
						</div>
						<div class="menu-dropdown__partners">
							<h4>партнеры</h4>
							<ul>
								<li><a href="#"><img src="img/partner1.png" alt=""></a></li>
								<li><a href="#"><img src="img/partner2.png" alt=""></a></li>
								<li><a href="#"><img src="img/partner3.png" alt=""></a></li>
								<li><a href="#"><img src="img/partner4.png" alt=""></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="menu-dropdown__section js-menu-block" data-mblock="projects">
					<ul class="menu-dropdown__list">
						<li><a href="#">4За рубежом</a></li>
						<li class="is-drop">
							<a href="#" class="is-drop"><i class="icon-arr-right"></i>Суперлига</a>
							<ul class="menu-dropdown__submenu">
								<li><a href="#">Первенство России</a></li>
								<li><a href="#">Высшая лига. Дивизион «Б»</a></li>
							</ul>
						</li>
						<li class="is-drop">
							<a href="#" class="is-drop"><i class="icon-arr-right"></i>Высшая лига</a>
							<ul class="menu-dropdown__submenu">
								<li><a href="#">Первенство России</a></li>
								<li><a href="#">Высшая лига. Дивизион «Б»</a></li>
							</ul>
						</li>
						<li class="is-drop">
							<a href="#" class="is-drop"><i class="icon-arr-right"></i>Женская лига</a>
							<ul class="menu-dropdown__submenu">
								<li><a href="#">Первенство России</a></li>
								<li><a href="#">Высшая лига. Дивизион «Б»</a></li>
							</ul>
						</li>
						<li class="is-drop">
							<a href="#" class="is-drop"><i class="icon-arr-right"></i>Дубли</a>
							<ul class="menu-dropdown__submenu">
								<li><a href="#">Первенство России</a></li>
								<li><a href="#">Высшая лига. Дивизион «Б»</a></li>
							</ul>
						</li>
						<li class="is-drop">
							<a href="#" class="is-drop"><i class="icon-arr-right"></i>Кубок России</a>
							<ul class="menu-dropdown__submenu">
								<li><a href="#">Первенство России</a></li>
								<li><a href="#">Высшая лига. Дивизион «Б»</a></li>
							</ul>
						</li>
						<li><a href="#">Кубок УЕФА</a></li>
						<li><a href="#">Кубок Еременко</a></li>
					</ul>
					<div class="menu-dropdown__block">
						<div class="menu-dropdown__schedule">
							<h4>Ближайшие матчи</h4>
							<p>1-й тур   10 сентября 2015</p>
							<ul>
								<li>
									<time>17:00</time>
									<span>Газпром-ЮГРА - Дина</span>
								</li>
								<li>
									<time>17:00</time>
									<span>Дина - Тюмень</span>
								</li>
								<li>
									<time>17:00</time>
									<span>Сибиряк - Ямал</span>
								</li>
								<li>
									<time>17:00</time>
									<span>Тюмень - Синара</span>
								</li>
								<li>
									<time>17:00</time>
									<span>Динамо - КПРФ</span>
								</li>
								<li>
									<time>17:00</time>
									<span>Норильский никель - Новая генерация</span>
								</li>
							</ul>
						</div>
						<div class="menu-dropdown__partners">
							<h4>партнеры</h4>
							<ul>
								<li><a href="#"><img src="img/partner1.png" alt=""></a></li>
								<li><a href="#"><img src="img/partner2.png" alt=""></a></li>
								<li><a href="#"><img src="img/partner3.png" alt=""></a></li>
								<li><a href="#"><img src="img/partner4.png" alt=""></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- begin leagues  -->
	<div class="leagues">
		<div class="leagues__inner">
			<ul class="leagues__list js-leagues-list">
				<li><a href="#">Суперлига</a></li>
				<li><a href="#">Высшая лига</a></li>
				<li><a href="#">Кубок России</a></li>
				<li><a href="#">Кубок УЕФА</a></li>
				<li><a href="#">ЧЕ 2016</a></li>
				<li><a href="#">Кубок Ерёменко</a></li>
				<li><a href="#">Женская лига</a></li>
				<li><a href="#">Дубли</a></li>
				<li><a href="#">Юношеская лига</a></li>
			</ul>
			<!-- <button class="leagues__btn js-leagues-btn"><span></span></button> -->
		</div>
	</div>
	<!-- end leagues -->
</header>
<!-- end header